{% extends 'form_div_layout.html.twig' %}

{% form_theme form _self %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <ul {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <li>
                    {{ form_widget(child) }}
                    {{ form_label(child, null, {translation_domain: choice_translation_domain}) }}
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock %}

{%- block choice_widget_collapsed -%}
{%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
{% set required = false %}
{%- endif -%}
<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple" {% else %} {% endif %}
                                                          {%- if placeholder is not none -%}
                                                          {% set blank_value = (placeholder != '') ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) %}
                                                          {% set blank = { 'value': '', 'label': '{{ blank_value|raw }}'} %}
                                                          {%- endif -%}
                                                          {%- if preferred_choices|length > 0 -%}
                                                          {% set choices = preferred_choices|merge(choices) %}
                                                          {%- if choices|length > 0 and separator is not none -%}
                                                          {% set choices = choices|merge([{'label':'{{separator}}','disabled':true}]) %}
                                                          {%- endif -%}
                                                          {%- endif -%}
                                                          {%- set options = choices -%}
                                                          data-options="{{options|json_encode()}}" data-selected="{% if required and value is empty %}{else}-1{% endif %}">
</select>
{%- endblock choice_widget_collapsed -%}

{%- block form_row -%}
    <div{% if attr.class is defined %} class="{{attr.class|raw}}"{% endif %}>
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}

{% block _address_entry_row %}
{% spaceless %}
    <div class="remove-form-row" title="{{'common.remove'|trans}}" id="remove-address-__address__"><i class="fa fa-remove"></i></div>
    <div class="form-row address">
        <div>{{ form_widget(form.type) }}</div>
        <div>{{ form_widget(form.street1) }}</div>
        <div>{{ form_widget(form.street2) }}</div>
        <div>{{ form_widget(form.city) }}</div>
        <div>{{ form_widget(form.state_province) }}</div>
        <div>{{ form_widget(form.postal_code) }}</div>
        <div>{{ form_widget(form.country) }}</div>
    </div>
{% endspaceless %}
{% endblock %}

{% block _phone_numbers_entry_row %}
{% spaceless %}
    <div class="form-row phone-number">
        <span class="type-select">{{ form_widget(form.type) }}</span>
        <span class="input">{{ form_widget(form.phonenumber) }}</span>
        <span class="comment">{{ form_widget(form.comment) }}</span>
        <span class="remove-form-row" title="{{'common.remove'|trans}}" id="remove-phone-__phone__"><i class="fa fa-remove"></i></span>
    </div>
{% endspaceless %}
{% endblock %}

{% block _emails_entry_row %}
{% spaceless %}
    <div class="form-row email">
        <span class="type-select">{{ form_widget(form.type) }}</span>
        <span class="input">{{ form_widget(form.email) }}</span>
        <span class="comment">{{ form_widget(form.comment) }}</span>
        <span class="remove-form-row" title="{{'common.remove'|trans}}" id="email-__phone__"><i class="fa fa-remove"></i></span>
    </div>
{% endspaceless %}
{% endblock %}

{% block _manufacturer_person_entry_row %}
    <div class="form-row contacts">
        {% include 'common/person.html.twig' %}
    </div>
{% endblock %}

{% block _manufacturer_person_entry_addresses_entry_row %}
{{ block('_address_entry_row') }}
{% endblock %}

{% block _manufacturer_person_entry_emails_entry_row %}
{{ block('_emails_entry_row') }}
{% endblock %}

{% block _manufacturer_person_entry_phone_numbers_entry_row %}
{{ block('_phone_numbers_entry_row') }}
{% endblock %}

{% block _user_person_addresses_entry_row %}
{{ block('_address_entry_row') }}
{% endblock %}

{% block _user_person_emails_entry_row %}
{{ block('_emails_entry_row') }}
{% endblock %}

{% block _user_person_phone_numbers_entry_row %}
{{ block('_phone_numbers_entry_row') }}
{% endblock %}