{% extends 'form_div_layout.html.twig' %}

{% form_theme form _self %}

{% macro name_comment_active_entry_row(type,form) %}{% spaceless %}
    {% if type is not defined %}{% set type = '' %}{% endif %}
<div class="form-row {{ type }}">
    <span class="id">{{ form_widget(form.id) }}</span>
    <span class="name">{{ form_widget(form.name) }}</span>
    <span class="comment">{{ form_widget(form.comment) }}</span>
    <span class="active">{{ form_widget(form.active) }}</span>
    {% if form.parent.vars.allow_delete is defined %}
        <span class="remove-form-row" title="{{'common.remove'|trans}}" id="{{type}}-__{{type}}__"><i class="fa fa-remove"></i></span>
        {% endif %}
</div>{% endspaceless %}{% endmacro %}

{% macro model_relationship_entry_row(type,form) %}{% spaceless %}
    <div class="form-row {{type}}">
        <span class="model">{{ form_widget(form) }}</span>
        {% if form.parent.vars.allow_delete %}
            <span class="remove-form-row" title="{{'common.remove'|trans}}" id="{{type}}-__name__"><i class="fa fa-remove"></i></span>
        {% endif %}
    </div>
{%endspaceless%}{%endmacro%}

{% block choice_widget_expanded %}
    {% spaceless %}
        <ul {{ block('widget_container_attributes') }}>
            {% for child in form %}
                <li>
                    {{ form_widget(child) }}
                    {{ form_label(child, null, {translation_domain: choice_translation_domain}) }}
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock %}

{%- block choice_widget_collapsed -%}
{%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
{% set required = false %}
{%- endif -%}
<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple" {% else %} {% endif %}
                                                          {%- if placeholder is not none -%}
                                                          {% set blank_value = (placeholder != '') ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) %}
                                                          {% set blank = { 'value': '', 'label': '{{ blank_value|raw }}'} %}
                                                          {%- endif -%}
                                                          {%- if preferred_choices|length > 0 -%}
                                                          {% set choices = preferred_choices|merge(choices) %}
                                                          {%- if choices|length > 0 and separator is not none -%}
                                                          {% set choices = choices|merge([{'label':'-------','disabled':true}]) %}
                                                          {%- endif -%}
                                                          {%- endif -%}
                                                          {%- set options = choices -%}
                                                          data-options="{{options|json_encode()}}" data-selected="{% if required and value is empty %}-1{%else%}{{value}}{% endif %}">
</select>
{%- endblock choice_widget_collapsed -%}

{%- block form_row -%}
<div{% if attr.class is defined %} class="{{attr.class|raw}}"{% endif %}>
    {% if form.vars.label != false %}
        {{- form_label(form) -}}
    {% endif %}
    {{- form_errors(form) -}}
    {{- form_widget(form) -}}
</div>
{%- endblock form_row -%}

{% block _address_entry_row %}
    {% spaceless %}
        <div class="justify">
            <div class="remove-form-row" title="{{'common.remove'|trans}}" id="remove-address-__address__"><i class="fa fa-remove"></i></div>
            <div class="form-row address">
                <div>{{ form_widget(form.type) }}</div>
                <div>{{ form_widget(form.street1) }}</div>
                <div>{{ form_widget(form.street2) }}</div>
                <div>{{ form_widget(form.city) }}</div>
                <div>{{ form_widget(form.state_province) }}</div>
                <div>{{ form_widget(form.postal_code) }}</div>
                <div>{{ form_widget(form.country) }}</div>
            </div>
            <div class="form-row comment">
                {{form_widget(form.comment)}}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _asset_barcodes_entry_row %}
    {{ block('_barcodes_entry_row') }}
{% endblock %}

{% block _asset_statuses_statuses_entry_row %}{% import _self as form_macros %}{{ form_macros.name_comment_active_entry_row('status',form) }}{% endblock %}

{% block _barcodes_entry_row %}
    {% spaceless %}
        <div class="form-row barcode">
            <span class="barcode">{{ form_widget(form.barcode) }}</span>
            <span class="comment">{{ form_widget(form.comment) }}</span>
            <span class="active">{{ form_widget(form.active) }}</span>
            <span class="remove-form-row" title="{{'common.remove'|trans}}" id="barcode-__barcode__"><i class="fa fa-remove"></i></span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _categories_categories_entry_row %}{% spaceless %}
    <div class="form-row category" data-category-id="{{form.id.vars.value}}">
        <span class="id">{{ form_widget(form.id) }}</span>
        <span class="parent-id">{{ form_widget(form.parent_id) }}</span>
        <span class="position">{{ form_widget(form.position) }}</span>
        <span class="name">{{ form_widget(form.name) }}</span>
        <span class="comment">{{ form_widget(form.comment) }}</span>
        <span class="active">{{ form_widget(form.active) }}</span>
        {% if form.parent.vars.allow_delete is defined %}
            <span class="remove-form-row" title="{{'common.remove'|trans}}" id="categories-__categories__"><i class="fa fa-remove"></i></span>
        {% endif %}
    </div>
{% endspaceless %}{% endblock %}

{% block _emails_entry_row %}
    {% spaceless %}
        <div class="form-row email">
            <span class="type-select">{{ form_widget(form.type) }}</span>
            <span class="input">{{ form_widget(form.email) }}</span>
            <span class="comment">{{ form_widget(form.comment) }}</span>
            <span class="remove-form-row" title="{{'common.remove'|trans}}" id="email-__email__"><i class="fa fa-remove"></i></span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _location_types_types_entry_row %}
    {% spaceless %}
        <div class="form-row type">
            <span class="id">{{ form_widget(form.id) }}</span>
            <span class="name">{{ form_widget(form.name) }}</span>
            <span class="entity">{{ form_widget(form.entity) }}</span>
            <span class="url">{{ form_widget(form.url) }}</span>
            <span class="active">{{ form_widget(form.active) }}</span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _manufacturer_brands_entry_row %}{% import _self as form_macros %}{{ form_macros.name_comment_active_entry_row('brand',form) }}{% endblock %}

{% block _manufacturer_person_entry_row %}
    <div class="form-row contacts">
        {% include 'common/person.html.twig' with {'legend': 'common.contact'} %}
    </div>
{% endblock %}

{% block _manufacturer_person_entry_addresses_entry_row %}
    {{ block('_address_entry_row') }}
{% endblock %}

{% block _manufacturer_person_entry_emails_entry_row %}
    {{ block('_emails_entry_row') }}
{% endblock %}

{% block _manufacturer_person_entry_phone_numbers_entry_row %}
    {{ block('_phone_numbers_entry_row') }}
{% endblock %}

{% block _model_extends_entry_row %}{% import _self as form_macros %}{{ form_macros.model_relationship_entry_row('extends',form) }}{% endblock %}
{% block _model_extended_by_entry_row %}{% import _self as form_macros %}{{ form_macros.model_relationship_entry_row('extended_by',form) }}{% endblock %}
{% block _model_requires_entry_row %}{% import _self as form_macros %}{{ form_macros.model_relationship_entry_row('requires',form) }}{% endblock %}
{% block _model_required_by_entry_row %}{% import _self as form_macros %}{{ form_macros.model_relationship_entry_row('required_by',form) }}{% endblock %}

{% block _models_models_entry_row %}{% spaceless %}
    <div class="form-row model">
        <span class="category">{{ form_widget(form.category) }}</span>
        <span class="name">{{ form_widget(form.name) }}</span>
        <span class="comment">{{ form_widget(form.comment) }}</span>
        <span class="active">{{ form_widget(form.active) }}</span>
        <span class="remove-form-row" title="{{'common.remove'|trans}}" id="model-__model__"><i class="fa fa-remove"></i></span>
    </div>
{% endspaceless %}{% endblock %}

{% block _phone_numbers_entry_row %}
    {% spaceless %}
        <div class="form-row phone-number">
            <span class="type-select">{{ form_widget(form.type) }}</span>
            <span class="input">{{ form_widget(form.phone_number) }}</span>
            <span class="comment">{{ form_widget(form.comment) }}</span>
            <span class="remove-form-row" title="{{'common.remove'|trans}}" id="remove-phone-__phone__"><i class="fa fa-remove"></i></span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _user_person_addresses_entry_row %}
    {{ block('_address_entry_row') }}
{% endblock %}

{% block _user_person_emails_entry_row %}
    {{ block('_emails_entry_row') }}
{% endblock %}

{% block _user_person_phone_numbers_entry_row %}
    {{ block('_phone_numbers_entry_row') }}
{% endblock %}

{% block _vendor_brands_entry_row %}
    <div class="form-row brand">
    <span class="brand">{{ form_widget(form) }}</span>
{% endblock %}

{% block _vendor_person_entry_row %}
    <div class="form-row contacts">
        {% include 'common/person.html.twig' with {'legend': 'common.contact'} %}
    </div>
{% endblock %}

{% block _vendor_person_entry_addresses_entry_row %}
    {{ block('_address_entry_row') }}
{% endblock %}

{% block _vendor_person_entry_emails_entry_row %}
    {{ block('_emails_entry_row') }}
{% endblock %}

{% block _vendor_person_entry_phone_numbers_entry_row %}
    {{ block('_phone_numbers_entry_row') }}
{% endblock %}