{% extends "@FOSUser/layout.html.twig" %}
{% set no_settings = true %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div class="row">
            <div class="col-xs-12 text-warning">
                <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input class="form-control" type="password" id="password" name="_password" required="required">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="checkbox">
                    <label><input type="checkbox" id="remember_me" name="_remember_me" value="on">{{ 'security.login.remember_me'|trans }} </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">       
                <input  class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
            </div>
        </div>
 
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <a href="{{ path('fos_user_resetting_request') }}">
                    {{ 'user.forgot_password_link'|trans}}
                </a>
            </div>
        </div>

    </form>
{% endblock fos_user_content %}
