{% extends "@FOSUser/layout.html.twig" %}
{% set no_settings = true %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <b-row>
            <b-col>
                <b-alert show variant="warning">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </b-alert>
            </b-col>
        </b-row>
    {% endif %}
    <form action="{{ path("fos_user_security_check") }}" method="post">
        <b-row>
            <b-col>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <b-form-group id="username-group"
                              label="{{ 'security.login.username'|trans }}"
                              label-for="username">
                    <b-form-input id="username"
                                  type="text"
                                  name="_username"
                                  value="{{ last_username }}"
                                  required>
                    </b-form-input>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-form-group id="password-group"
                              label="{{ 'security.login.password'|trans }}"
                              label-for="password">
                    <b-form-input id="password"
                                  type="password"
                                  name="_password"
                                  required>
                    </b-form-input>
                </b-form-group>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-form-checkbox id="remember_me"
                                 name="_remember_me"
                                 value="on">
                    {{ 'security.login.remember_me'|trans }}
                </b-form-checkbox>
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-button type="submit" variant="primary">{{ 'security.login.submit'|trans }}</b-button>
                <input type="hidden" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
            </b-col>
        </b-row>
        <b-row>
            <b-col>
                <b-link href="{{ path('fos_user_resetting_request') }}">
                    {{ 'user.forgot_password_link'|trans}}
                </b-link>
            </b-col>
        </b-row>
    </form>
{% endblock fos_user_content %}
