{% block title %}{{ 'asset.model'|trans }} {{'common.admin'|trans }}{% endblock %}

{% extends 'admin/asset/asset.base.html.twig' %}

{% form_theme model_form _self %}

{% block _model_custom_attributes_entry_row %}
    {% spaceless %}
        <div class="form-row custom-attribute">
            <span class="name">{{ form_widget(form.key) }}</span>
            <span class="value">{{ form_widget(form.value) }}</span>
            <span class="remove-form-row" title="{{'common.remove'|trans}}" id="custom-attribute-__custom_attribute__"><i class="fa fa-remove"></i></span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _model_extends_entry_row %}{% import 'form/macros.html.twig' as form_macros %}{{ form_macros.model_relationship_entry_row('extends',form) }}{% endblock %}
{% block _model_extended_by_entry_row %}{% import 'form/macros.html.twig' as form_macros %}{{ form_macros.model_relationship_entry_row('extended_by',form) }}{% endblock %}
{% block _model_requires_entry_row %}{% import 'form/macros.html.twig' as form_macros %}{{ form_macros.model_relationship_entry_row('requires',form) }}{% endblock %}
{% block _model_required_by_entry_row %}{% import 'form/macros.html.twig' as form_macros %}{{ form_macros.model_relationship_entry_row('required_by',form) }}{% endblock %}

{% block _models_models_entry_row %}{% spaceless %}
        <div class="form-row model">
            <span class="category">{{ form_widget(form.category) }}</span>
            <span class="name">{{ form_widget(form.name) }}</span>
            <span class="comment">{{ form_widget(form.comment) }}</span>
            <span class="active">{{ form_widget(form.active) }}</span>
            <span class="remove-form-row" title="{{'common.remove'|trans}}" id="model-__model__"><i class="fa fa-remove"></i></span>
        </div>
{% endspaceless %}{% endblock %}

{% block _model_satisfies_entry_row %}
    {% spaceless %}
        <div class="form-row satisfies">
            <span class="satisfies">{{ form_widget(form) }}</span>
            <span class="remove-form-row" title="{{'common.remove'|trans}}" id="satisfies-__satisfies__"><i class="fa fa-remove"></i></span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block admin_content %}
    <div id="model-wrapper">
        <h1>{{ brand_name }} {{'common.admin'|trans }}</h1>
        <div class="grid-controls">
            <div>
                <button id="model-new-btn" type="button">{{ 'common.new'|trans }}</button>
            </div>
            <div>
                <form id="model-grid-filter-form">
                    <label for="filter-input">{{ 'common.filter'|trans }}</label><input type="text" id="model-filter-input">
                </form>
            </div>
            <button id="model-remove-btn" type="button">{{ 'common.remove'|trans }}</button>
        </div>
        <div id="model-grid">
        </div>
        <div id="model-view-dialog">
            {{form_start(model_form)}} 
            <div class="text-right">
                <button id="model-save-btn" type="button">{{ 'common.save'|trans }}</button>
            </div>
            <div class="model">
                <fieldset class="name-active">
                    <legend>{{'asset.model'|trans}}</legend>
                    <div class="justify">
                        <span class="model-name">
                            {{form_widget(model_form.name)}}
                        </span>
                        <span class="model-active">
                            {{form_widget(model_form.active)}}
                            {{form_label(model_form.active)}}
                        </span>
                    </div>
                    <div class="justify">
                        <span class="model-category">
                            {{form_widget(model_form.category)}}
                        </span>
                        <div class="model-container">
                            {{form_widget(model_form.container)}}
                            {{form_label(model_form.container)}}
                        </div>
                        <div class="model-weight">
                            {{form_widget(model_form.weight)}}
                        </div>
                    </div>
                    {{form_row(model_form.comment)}}
                </fieldset>
                <div id="model-view-tabs">
                    <div id="model-view-attributes-tab">
                        {{form_row(model_form.custom_attributes)}}
                        {% if model_form.custom_attributes.vars.allow_add %}
                            <span class="custom-attributes add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                        {% endif %}
                    </div>
                    <div id="model-view-satisfies-tab">                   
                        <div id="model-satisfies">
                            {{ form_row(model_form.satisfies) }}
                            {% if model_form.satisfies.vars.allow_add %}
                                <span class="satisfies add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div id="model-view-requires-tab">
                        {% block requires_models %}{% import '/form/macros.html.twig' as page_macros %}{{ page_macros.relation('common.requires'|trans,'requires',model_form.requires) }}{% endblock %}
                        {% block required_by_models %}{% import '/form/macros.html.twig' as page_macros %}{{ page_macros.relation('asset.required_by'|trans,'required_by',model_form.required_by) }}{% endblock %}
                    </div>
                    <div id="model-view-extends-tab">
                        {% block extends_models %}{% import '/form/macros.html.twig' as page_macros %}{{ page_macros.relation('asset.extends'|trans,'extends',model_form.extends) }}{% endblock %}
                        {% block extended_by_models %}{% import '/form/macros.html.twig' as page_macros %}{{ page_macros.relation('asset.extended_by'|trans,'extended_by',model_form.extended_by) }}{% endblock %}
                    </div>
                    <div id="model-view-values-tab">
                        <div id="values">
                            <div class="form-row">
                                {{form_row(model_form.carnet_value)}}
                            </div>
                            <div class="form-row">
                                {{form_row(model_form.default_contract_value)}}
                            </div>
                            <div class="form-row">
                                {{form_row(model_form.default_event_value)}}
                            </div>
                        </div>
                    </div>
                    <div id="model-view-history-tab">
                    </div>
                </div>
            </div>
            {{ form_end(model_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(["app/admin/asset/brand"], function (brand) {
            brand.run();
        });
    </script>
{% endblock %}