{% block title %}{{ 'asset.model'|trans }} {{'common.admin'|trans }}{% endblock %}
{% extends 'admin.base.html.twig' %}

{%macro relation(type,form) %}{%spaceless%}
    <div id="{{type}}" class="{{type}}">
        {{form_row(form)}}
        {% if form.vars.allow_add %}
            <div data-type="{{type}}" class="add-one-more-row">{{ 'common.add_one_more'|trans}}</div>
        {% endif %}
    </div>
{%endspaceless%}{%endmacro %}

{% block admin_content %}
    <div id="model-wrapper">
        <h1>{{ brand_name }} {{'common.admin'|trans }}</h1>
        <div class="grid-controls">
            <div>
                <button id="model-new-btn" type="button">{{ 'common.new'|trans }}</button>
            </div>
            <div>
                <form id="model-grid-filter-form">
                    <label for="filter-input">{{ 'common.filter'|trans }}</label><input type="text" id="model-filter-input">
                </form>
            </div>
            <button id="model-remove-btn" type="button">{{ 'common.remove'|trans }}</button>
        </div>
        <div id="model-grid">
        </div>
        <div id="model-view-dialog">
            {{form_start(model_form)}} 
            <div class="text-right">
                <button id="model-save-btn" type="button">{{ 'common.save'|trans }}</button>
            </div>
            <div class="model">
                <fieldset class="name-active">
                    <legend>{{'asset.model'|trans}}</legend>
                    <div class="justify">
                        <span class="model-category">
                            {{form_widget(model_form.category)}}
                        </span>
                        <span class="model-name">
                            {{form_widget(model_form.name)}}
                        </span>
                        <span class="model-active">
                            {{form_widget(model_form.active)}}
                            {{form_label(model_form.active)}}
                        </span>
                    </div>
                    {{form_row(model_form.comment)}}
                </fieldset>
                <div id="model-view-tabs">
                    <div id="model-view-requires-tab">
                        {% block requires_models %}{% import _self as page_macros %}{{ page_macros.relation('requires',model_form.requires) }}{% endblock %}
                    </div>
                    <div id="model-view-supports-tab">
                        {% block supports_models %}{% import _self as page_macros %}{{ page_macros.relation('supports',model_form.supports) }}{% endblock %}
                    </div>
                    <div id="model-view-extends-tab">
                        {% block extends_models %}{% import _self as page_macros %}{{ page_macros.relation('extends',model_form.extends) }}{% endblock %}
                    </div>
                    <div id="model-view-history-tab">
                        History
                    </div>
                </div>
            </div>
            {{ form_end(model_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(["app/admin/brand"], function (brand) {
            brand.run();
        });
    </script>
{% endblock %}