{% block title %}{{ 'asset.category'|trans }} {{'common.admin'|trans }}{% endblock %}
{% extends 'admin.base.html.twig' %}
{% block admin_content %}
    <div id="category-wrapper">
        <h1>{{ 'asset.category'|trans }} {{'common.admin'|trans }}</h1>
        <div class="categories">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash-notice">
                    {{ flash_message|trans }}
                </div>
            {% endfor %}
            {% if not categories_form.vars.valid %}
                <div class="form-errors categories">
                    {% for category in categories_form.categories %}
                        {% if not category.vars.valid %}
                            {{form_errors(category.name)}}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="justify">
                <div id="category-tree"></div>
                <div class="category-form">
                    {{form_start(categories_form)}}
                    <div class="text-right">
                        <button id="categories-save-btn" type="submit">{{ 'common.save'|trans }}</button>
                    </div>
                    <div class="category-form-inputs">
                        <div class="form-row header">
                            <span class="parent">{{ 'asset.parent'|trans }}</span>
                            <span class="position">{{ 'common.position'|trans }}</span>
                            <span class="name">{{ 'common.name'|trans }}</span>
                            <span class="comment">{{ 'common.comment'|trans }}</span>
                            <span class="active">{{ 'common.active'|trans }}</span>
                        </div>

                        {{form_row(categories_form)}}

                        {% for category in categories_form.categories %}
                            {{form_row(category)}}
                        {% endfor %}

                        {% if categories_form.categories.vars.allow_add %}
                            <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                        {% endif %}
                    </div>
                    {{form_end(categories_form)}}
                </div>   
            </div>  
        </div>
    {% endblock %}

    {% block javascripts %}
        <script>
            require(["app/admin/asset/categories", "app/admin/asset/category"], function (categories, category) {
                categories.run();
                category.run();
            });
        </script>
    {% endblock %}