{% block title %}{{ 'asset.asset'|trans }} {{'common.admin'|trans }}{% endblock %}

{% extends 'admin/asset/asset.base.html.twig' %}

{% form_theme asset_form _self %}

{% block _asset_statuses_statuses_entry_row %}{% import '/form/macros.html.twig' as form_macros %}{{ form_macros.name_comment_active_entry_row('status',form,true) }}{% endblock %}

{% block _barcodes_entry_row %}
    {% spaceless %}
        <div class="form-row barcode">
            <span class="barcode">{{ form_widget(form.barcode) }}</span>
            <span class="comment">{{ form_widget(form.comment) }}</span>
            <span class="active">{{ form_widget(form.active) }}</span>
            <span class="remove-form-row" title="{{'common.remove'|trans}}" id="barcode-__barcode__"><i class="fa fa-remove"></i></span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block _asset_barcodes_entry_row %}
    {{ block('_barcodes_entry_row') }}
{% endblock %}

{% block admin_content %}
    <div id="asset-wrapper">
        <h1>{{ block ('title') }}</h1>
        <div class="grid-controls">
            <div>
                <button id="asset-new-btn" type="button">{{ 'common.new'|trans }}</button>
            </div>
            <div>
                <form id="asset-grid-filter-form">
                    <label for="asset-filter-input">{{ 'common.filter'|trans }}</label><input type="text" id="asset-filter-input">
                </form>
            </div>
            <button id="asset-remove-btn" type="button">{{ 'common.remove'|trans }}</button>
        </div>
        <div id="asset-grid">
        </div>
        <div id="asset-view-dialog">
            {{form_start(asset_form)}} 
            <div class="text-right">
                <button id="asset-save-btn" type="button">{{ 'common.save'|trans }}</button>
            </div>
            <div class="asset">
                <fieldset class="name-active">
                    <legend>{{'asset.asset'|trans}}</legend>
                    <div class="justify">
                        <span class="asset-model">
                            {{form_widget(asset_form.model)}}
                        </span>
                        <span class="asset-serial-number">
                            {{form_widget(asset_form.serial_number)}}
                        </span>
                        <span class="asset-active">
                            {{form_widget(asset_form.active)}}
                            {{form_label(asset_form.active)}}
                        </span>
                    </div>
                    <div class="justify">
                        {{form_row(asset_form.status)}}
                    </div>
                    {{form_row(asset_form.comment)}}
                </fieldset>
                <div id="asset-view-tabs">
                    <div id="asset-view-location-tab">
                        <div class="justify">
                            {{form_row(asset_form.location.id)}}
                            {{form_row(asset_form.location.ctype)}}
                            {{form_row(asset_form.location.entity)}}
                        </div>
                    </div>
                    <div id="asset-view-expenses-tab">
                        <div id="expenses">
                            {{form_row(asset_form.purchased)}}
                            {{form_row(asset_form.cost)}}
                            {{form_row(asset_form.value)}}
                        </div>
                    </div>
                    <div id="asset-view-barcodes-tab">
                        <div id="barcodes" class="barcodes">
                            {{form_row(asset_form.barcodes)}}
                            {% if asset_form.barcodes.vars.allow_add %}
                                <div class="add-one-more-row">{{ 'common.add_one_more'|trans}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="asset-view-model-relationships-tab">
                        <div id="model-relationships" class="model-relationships">
                        </div>
                    </div>
                    <div id="asset-view-history-tab">
                    </div>
                </div>
            </div>
            {{ form_end(asset_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(["app/admin/asset/equipment"], function (equipment) {
            equipment.run();
        });
    </script>
{% endblock %}