{% block title %}{{ 'asset.issue'|trans }} {{ 'asset.status'|trans }} {{'common.admin'|trans }}{% endblock %}
{% extends 'admin.base.html.twig' %}

{% block admin_content %}
    <div id="issue-wrapper">
        <h1>{{ block('title') }}</h1>
        <div class="grid-controls">
            <div>
                <button id="issue-new-btn" type="button">{{ 'common.new'|trans }}</button>
            </div>
            <div>
                <form id="issue-grid-filter-form">
                    <label for="filter-input">{{ 'common.filter'|trans }}</label><input type="text" id="model-filter-input">
                </form>
            </div>
            <button id="issue-remove-btn" type="button">{{ 'common.remove'|trans }}</button>
        </div>
        <div id="issue-grid">
        </div>
        <div id="issue-view-dialog">
            {{form_start(issue_form)}} 
            <div class="text-right">
                <button id="issue-save-btn" type="button">{{ 'common.save'|trans }}</button>
            </div>
            <div class="issue">
                <fieldset class="name-active">
                    <legend>{{'issue.issue'|trans}}</legend>
                    <div class="justify">
                        <span class="issue-model">
                            {{form_widget(issue_form.model)}}
                        </span>
                        <span class="issue-serial-number">
                            {{form_widget(issue_form.serial_number)}}
                        </span>
                        <span class="issue-active">
                            {{form_widget(issue_form.active)}}
                            {{form_label(issue_form.active)}}
                        </span>
                    </div>
                    <div class="justify">
                        {{form_row(issue_form.status)}}
                    </div>
                    {{form_row(issue_form.comment)}}
                </fieldset>
                <div id="issue-view-tabs">
                    <div id="issue-view-location-tab">
                        <div class="justify">
                            {{form_row(issue_form.location.id)}}
                            {{form_row(issue_form.location.ctype)}}
                            {{form_row(issue_form.location.entity)}}
                        </div>
                    </div>
                    <div id="issue-view-expenses-tab">
                        <div id="expenses">
                            {{form_row(issue_form.purchased)}}
                            {{form_row(issue_form.cost)}}
                        </div>
                    </div>
                    <div id="issue-view-barcodes-tab">
                        <div id="barcodes" class="barcodes">
                            {{form_row(issue_form.barcodes)}}
                            {% if issue_form.barcodes.vars.allow_add %}
                                <div class="add-one-more-row">{{ 'common.add_one_more'|trans}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="issue-view-model-relationships-tab">
                        <div id="model-relationships" class="model-relationships">
                        </div>
                    </div>
                    <div id="issue-view-history-tab">
                    </div>
                </div>
            </div>
            {{ form_end(issue_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(["app/admin/asset/issue"], function (issue) {
            issue.run();
        });
    </script>
{% endblock %}