{% block title %}{{ 'asset.issue'|trans }} {{'common.admin'|trans }}{% endblock %}
{% extends 'admin/asset/asset.base.html.twig' %}

{% form_theme issue_form _self %}

{% block _issue_items_entry_row %}{% spaceless %}
        <div class="form-row issue-item">
            <div class="justify">
                <span class="item">{{ form_widget(form.item) }}</span>
                <span class="status">{{ form_row(form.status) }}</span>
                <span class="remove-form-row" title="{{'common.remove'|trans}}" id="issue_item-__item__"><i class="fa fa-remove"></i></span>
            </div>
            <div  class="comment">
                {{ form_widget(form.comment) }}
            </div>
        </div>
{% endspaceless %}{% endblock %}

{% block _issue_notes_entry_row %}{% spaceless %}
        <div class="form-row issue-note">
            <div class="justify">
                <span class="updated">{{ form_widget(form.updated_at) }}</span>
                <span class="remove-form-row" title="{{'common.remove'|trans}}" id="issue_note-__note__"><i class="fa fa-remove"></i></span>
            </div>
            <div class="note">
                {{ form_widget(form.note) }}
            </div>
        </div>
{% endspaceless %}{% endblock %}

{% block _issue_bill_tos_entry_row %}{% spaceless %}
        <div class="form-row bill-to">
            <div class="justify">
                <span class="contact">{{ form_widget(form.contact) }}</span>
                <span class="event">{{ form_widget(form.event) }}</span>
                <span class="amount">{{ form_widget(form.amount) }}</span>
                <span class="comment">{{ form_widget(form.comment) }}</span>
                <span class="remove-form-row" title="{{'common.remove'|trans}}" id="issue_bill_to-__bill_to__"><i class="fa fa-remove"></i></span>
            </div>
        </div>
{% endspaceless %}{% endblock %}

{% block admin_content %}
    <div id="issue-wrapper">
        <h1>{{ block('title') }}</h1>
        <div class="grid-controls">
            <div>
                <button id="issue-new-btn" type="button">{{ 'common.new'|trans }}</button>
            </div>
            <div>
                <form id="issue-grid-filter-form">
                    <label for="filter-input">{{ 'common.filter'|trans }}</label><input type="text" id="issue-filter-input">
                </form>
            </div>
            <button id="issue-remove-btn" type="button">{{ 'common.remove'|trans }}</button>
        </div>
        <div id="issue-grid">
        </div>
        <div id="issue-view-dialog">
            {{form_start(issue_form)}}
            <div class="text-right">
                <button id="issue-save-btn" type="button">{{ 'common.save'|trans }}</button>
            </div>
            <div class="issue">
                <fieldset class="priority-status">
                    <legend>{{'issue.issue'|trans}}</legend>
                    <div class="justify">
                        <span class="issue-summary">
                            {{form_widget(issue_form.summary)}}
                        </span>
                        <span class="issue-assigned-to">
                            {{form_widget(issue_form.assigned_to)}}
                        </span>
                    </div>
                    <div class="justify">
                        <span class="issue-created">
                            {{form_row(issue_form.created_at)}}
                        </span>
                        <span class="issue-updated">
                            {{form_row(issue_form.updated_at)}}
                        </span>
                    </div>
                    <div class="justify">
                        <span class="issue-trailer">
                            {{form_widget(issue_form.trailer)}}
                        </span>
                        <span class="issue-priority">
                            {{form_row(issue_form.priority)}}
                        </span>
                        <span class="issue-status">
                            {{form_widget(issue_form.status)}}
                        </span>
                        <span class="issue-type">
                            {{form_widget(issue_form.type)}}
                        </span>
                        <span class="issue-replaced">
                            {{form_row(issue_form.replaced)}}
                        </span>
                        <span class="issue-billable">
                        {{form_row(issue_form.billable)}}
                        </span>
                    </div>
                </fieldset>
                <div id="issue-view-tabs">
                    <div id="issue-view-details-tab">
                        <span class="issue-details">
                            {{form_row(issue_form.details)}}
                        </span>
                        <div id="notes" class="notes">
                            <div class="justify">
                                <strong>{{ 'common.notes' | trans }}</strong>
                                {% if issue_form.notes.vars.allow_add %}
                                    <div class="add-one-more-row">{{ 'common.add_one_more'|trans}}</div>
                                {% endif %}
                            </div>
                            {{form_row(issue_form.notes)}}
                        </div>
                    </div>
                    <div id="issue-view-items-tab">
                        <div id="items" class="items">
                            {{form_row(issue_form.items)}}
                            {% if issue_form.items.vars.allow_add %}
                                <div class="add-one-more-row">{{ 'common.add_one_more'|trans}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="issue-view-expenses-tab">
                        <div id="expenses">
                            {{form_row(issue_form.cost)}}
                        </div>
                        <div id="bill-tos" class="bill-tos">
                            <h3>{{'common.bill_to'|trans}}</h3>
                            {{form_row(issue_form.bill_tos)}}
                            {% if issue_form.bill_tos.vars.allow_add %}
                                <div class="add-one-more-row">{{ 'common.add_one_more'|trans}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="issue-view-history-tab">
                    </div>
                </div>
            </div>
            {{ form_end(issue_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(["app/admin/asset/issue"], function (issue) {
            issue.run();
        });
    </script>
{% endblock %}