{% block title %}{{ 'asset.location'|trans }} {{'common.admin'|trans }}{% endblock %}
{% extends 'admin.base.html.twig' %}
{% block admin_content %}
    <div id="location-wrapper">
        <h1>{{ 'asset.location'|trans }} {{'common.admin'|trans }}</h1>
        <div class="locations">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash-notice">
                    {{ flash_message|trans }}
                </div>
            {% endfor %}
            {% if not locations_form.vars.valid %}
                <div class="form-errors locations">
                    {% for location in locations_form.locations %}
                        {% if not location.vars.valid %}
                            {{form_errors(location.name)}}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="justify">
                <div id="location-tree"></div>
                <div class="location-form">
                    {{form_start(locations_form)}}
                    <div class="text-right">
                        <button id="locations-save-btn" type="submit">{{ 'common.save'|trans }}</button>
                    </div>
                    <div class="location-form-inputs">
                        <div class="form-row header">
                            <span class="parent">{{ 'asset.parent'|trans }}</span>
                            <span class="position">{{ 'common.position'|trans }}</span>
                            <span class="name">{{ 'common.name'|trans }}</span>
                            <span class="comment">{{ 'common.comment'|trans }}</span>
                            <span class="active">{{ 'common.active'|trans }}</span>
                        </div>

                        {{form_row(locations_form)}}

                        {% for location in locations_form.locations %}
                            {{form_row(location)}}
                        {% endfor %}

                        {% if locations_form.locations.vars.allow_add %}
                            <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                        {% endif %}
                    </div>
                    {{form_end(locations_form)}}
                </div>   
            </div>  
        </div>
    {% endblock %}

    {% block javascripts %}
        <script>
            require(["app/admin/asset/locations", "app/admin/asset/location"], function (locations, location) {
                locations.run();
                location.run();
            });
        </script>
    {% endblock %}