{% block title %}{{ 'asset.manufacturer'|trans }} {{'common.admin'|trans }}{% endblock %}
{% extends 'admin.base.html.twig' %}

{% block admin_content %}
    <div id="manufacturer-wrapper">
        <h1>{{ 'asset.manufacturer'|trans }} {{'common.admin'|trans }}</h1>
        <div class="grid-controls">
            <div>
                <button id="manufacturer-new-btn" type="button">{{ 'common.new'|trans }}</button>
            </div>
            <div>
                <form id="manufacturer-grid-filter-form">
                    <label for="filter-input">{{ 'common.filter'|trans }}</label><input type="text" id="manufacturer-filter-input">
                </form>
            </div>
            <button id="manufacturer-remove-btn" type="button">{{ 'common.remove'|trans }}</button>
        </div>
        <div id="manufacturer-grid">
        </div>
        <div id="manufacturer-view-dialog">
            {{form_start(manufacturer_form)}} 
            <div class="text-right">
                <button id="manufacturer-save-btn" type="button">{{ 'common.save'|trans }}</button>
            </div>
            <div class="manufacturer">
                <fieldset class="name-active">
                    <legend>{{'asset.manufacturer'|trans}}</legend>
                    <div class="justify">
                        <span class="manufacturer-name">
                            {{form_widget(manufacturer_form.name)}}
                        </span>
                        <span class="manufacturer-active">
                            {{form_widget(manufacturer_form.active)}}
                            {{form_label(manufacturer_form.active)}}
                        </span>
                    </div>
                    {{form_row(manufacturer_form.comment)}}
                </fieldset>
                <div id="manufacturer-view-tabs">
                    <div id="manufacturer-view-contacts-tab">
                        <fieldset class="contacts">
                            {{form_row(manufacturer_form.person)}}
                        </fieldset>
                    </div>
                    <div id="manufacturer-view-brands-tab">
                        {% include 'admin/asset/brands.html.twig' with { 'form' : manufacturer_form.brands } %}
                    </div>
                </div>
            </div>
            {{ form_end(manufacturer_form) }}
        </div>
        <div id="brand-view-dialog">
            <div class="text-right">
                <button id="brand-save-btn" type="button">{{ 'common.save'|trans }}</button>
            </div>
            <div class="brand-models">
                {% include 'admin/asset/models.html.twig' with { 'form' : models_form.models } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(["app/admin/manufacturer"], function (manufacturer) {
            manufacturer.run();
        });
    </script>
{% endblock %}