{%macro relation(title,type,form) %}{%spaceless%}
        <div id="{{type}}" class="{{type}}">
            <h3>{{title}}</h3>
            {{form_row(form)}}
            {% if form.vars.allow_add %}
                <div data-type="{{type}}" class="add-one-more-row">{{ 'common.add_one_more'|trans}}</div>
            {% endif %}
        </div>
{%endspaceless%}{%endmacro %}

<div id="model-view-dialog">
    {{form_start(model_form)}} 
    <div class="text-right">
        <button id="model-save-btn" type="button">{{ 'common.save'|trans }}</button>
    </div>
    <div class="model">
        <fieldset class="name-active">
            <legend>{{'asset.model'|trans}}</legend>
            <div class="justify">
                <span class="model-category">
                    {{form_widget(model_form.category)}}
                </span>
                <span class="model-name">
                    {{form_widget(model_form.name)}}
                </span>
                <span class="model-active">
                    {{form_widget(model_form.active)}}
                    {{form_label(model_form.active)}}
                </span>
            </div>
            {{form_row(model_form.comment)}}
        </fieldset>
        <div id="model-view-tabs">
            <div id="model-view-requires-tab">
                {% block requires_models %}{% import _self as page_macros %}{{ page_macros.relation('asset.requires'|trans,'requires',model_form.requires) }}{% endblock %}
                {% block required_by_models %}{% import _self as page_macros %}{{ page_macros.relation('asset.required_by'|trans,'required_by',model_form.required_by) }}{% endblock %}
            </div>
            <div id="model-view-extends-tab">
                {% block extends_models %}{% import _self as page_macros %}{{ page_macros.relation('asset.extends'|trans,'extends',model_form.extends) }}{% endblock %}
                {% block extended_by_models %}{% import _self as page_macros %}{{ page_macros.relation('asset.extended_by'|trans,'extended_by',model_form.extended_by) }}{% endblock %}
            </div>
            <div id="model-view-history-tab">
            </div>
        </div>
    </div>
    {{ form_end(model_form) }}
</div>
