{% block title %}{{ 'asset.transfer'|trans }} {{ 'asset.status'|trans }} {{'common.admin'|trans }}{% endblock %}
{% extends 'admin/asset/asset.base.html.twig' %}

{% form_theme statuses_form _self %}

{% block _transfer_statuses_statuses_entry_row %}{% import _self as form_macros %}{{ form_macros.name_comment_active_entry_row('status',form,true) }}{% endblock %}

{% macro name_comment_active_entry_row(type,form,default_rb) %}{% spaceless %}
    {% if type is not defined %}{% set type = '' %}{% endif %}
    <div class="form-row {{ type }}">
        {% if default_rb is defined and default_rb == true %}
            <span class="default">{{ form_widget(form.default)}}</span>
        {% endif %}
        <span class="id">{{ form_widget(form.id) }}</span>
        <span class="name">{{ form_widget(form.name) }}</span>
        <span class="comment">{{ form_widget(form.comment) }}</span>
        <span class="none">{{ form_widget(form.none) }}</span>
        <span class="in-transit">{{ form_widget(form.in_transit) }}</span>
        <span class="location-destination">{{ form_widget(form.location_destination) }}</span>
        <span class="location-unknown">{{ form_widget(form.location_unknown) }}</span>
        <span class="active">{{ form_widget(form.active) }}</span>
        {% if form.parent.vars.allow_delete is defined %}
            <span class="remove-form-row" title="{{'common.remove'|trans}}" id="{{type}}-__{{type}}__"><i class="fa fa-remove"></i></span>
            {% endif %}
    </div>{% endspaceless %}
    {% endmacro %}

        {% block admin_content %}
            <div id="status-wrapper">
                <h1>{{ block ('title') }}</h1>
                <div class="statuses">
                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="flash-notice">
                            {{ flash_message|trans }}
                        </div>
                    {% endfor %}
                    {% if not statuses_form.vars.valid %}
                        <div class="form-errors statuses">
                            {% for status in statuses_form.statuses %}
                                {% if not status.vars.valid %}
                                    {{form_errors(status.name)}}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{form_start(statuses_form, {'attr': { 'id': 'status-type-form'}})}}
                    <div class="text-right">
                        <button id="statuses-save-btn" type="submit">{{ 'common.save'|trans }}</button>
                    </div>
                    <div class="form-row status-header">
                        <span class="default">{{ 'common.default'|trans }}</span>
                        <span class="name">{{ 'common.name'|trans }}</span>
                        <span class="comment">{{ 'common.comment'|trans }}</span>
                        <span class="none">{{ 'common.none'|trans }}</span>
                        <span class="in-transit">{{ 'asset.in_transit'|trans }}</span>
                        <span class="location-destination">{{ 'asset.location_destination'|trans }}</span>
                        <span class="location-unknown">{{ 'asset.location_unknown'|trans }}</span>
                        <span class="active">{{ 'common.active'|trans }}</span>
                    </div>
                    {{form_row(statuses_form)}}
                    {% for status in statuses_form.statuses %}
                        {{form_row(status)}}
                    {% endfor %}

                    {% if statuses_form.statuses.vars.allow_add %}
                        <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                    {% endif %}
                    {{form_end(statuses_form)}}
                </div>
            </div>
        {% endblock %}

        {% block javascripts %}
            <script>
                require(["app/admin/asset/transfer_status"], function (status) {
                    status.run();
                });
            </script>
        {% endblock %}