<div class="contract">
    <div class="contract-data">
        <div class="name-value-active">   
            <span class="contract name">
                {{contract.name}}
            </span>
            <span class="contract start">
                {{contract.start|date('m/d/Y')}}
            </span>
            &dash;
            <span class="contract end">
                {{contract.end|date('m/d/Y')}}
            </span>
            <span class="contract active">
                {% if contract.active %}
                    {{'common.active'|trans}}
                {% else %}
                    {{'common.not_active'|trans}}  
                {%endif%}
            </span>
            <span class="container">
                {% if contract.container %}
                    {{'asset.container'|trans}}
                {% endif %}
            </span> 
        </div>
        <div class="comment">
            <div class="label">{{'common.comment'|trans}}</div>
            {{contract.comment}}		    
        </div>
    </div>

    <section>
        {% if contract.requiresTrailers is not empty %}
            <article class="contract requires">
                <h2>{{'common.requires'|trans}} {{'asset.trailers'|trans}}</h2>
                {% for trailer in contract.requiresTrailers %}
                    {{trailer.trailer.name}}
                {% endfor %}
            </article>
        {% endif %}

        {% if contract.availableTrailers is not empty %}
            <article class="contract available">
                <h2>{{'common.available'|trans}} {{'asset.trailers'|trans}}</h2>
                {% for trailer in contract.availableTrailers %}
                    {{trailer.trailer.name}}
                {% endfor %}
            </article>
        {% endif %}

        {% include 'common/parts/category-quantities.html.twig' with {'type':'common.requires','categoryQuantities':contract.requiresCategoryQuantities} %}

        {% include 'common/parts/category-quantities.html.twig' with {'type':'common.available','categoryQuantities':contract.availableCategoryQuantities} %}

    </section>
</div>
