{% if transfers is not empty %}
    <article class="transfers">
        <p>{{'asset.transfers'|trans}}</p>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>{{'common.id'|trans}}</th>
                    <th>{{'common.status'|trans}}</th>
                    <th>{{'common.source'|trans}}</th>
                    <th>{{'common.destination'|trans}}</th>
                    <th>{{'common.carrier'|trans}}</th>
                    <th>{{'common.carrier_service'|trans}}</th>
                    <th>{{'common.items'|trans}}</th>
                </tr>
            </thead>
            <tbody>
                {% for transfer in transfers %}
                    <tr>
                        <td class="id">{{transfer.id}}</td>
                        <td class="status">
                            {{transfer.status|trans}}<br>
                            {% if transfer.to is defined %}
                                <button type="button" class="btn btn-sm btn-default">{{ 'asset.received'|trans}}</button>
                            {% endif %}
                        </td>
                        <td class="source-location">{{transfer.source_location_text|nl2br}}</td>
                        <td class="destination-location">{{transfer.destination_location_text|nl2br}}</td>
                        <td class="carrier">{{transfer.carrier}}</td>
                        <td class="carrier-server">{{transfer.carrier_service}}</td>
                        <td class="items">
                            {% if transfer.items is defined %}
                                {% for transfer_item in transfer.items %}
                                    {{transfer_item.barcode}} {{transfer_item.brand}} {{transfer_item.model}}<br>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endif %}