{% if categoryQuantities is not empty %}
    <article class="contract {{type}} ">
        <h2>{{type|trans}} {{'asset.equipment'|trans}}</h2>
        <table class="table table-striped table-condensed table-bordered">
            <thead>
                <tr>
                    <th>{{'asset.category'|trans}}</th>
                    <th>{{'common.quantity'|trans}} {{'asset.required'|trans}}</th>
                    {% for name, l in location_names %}
                        <th>{{name|trans}}</th>
                    {% endfor %}
                    <th>{{'asset.balance'|trans}}</th>
                </tr>
            </thead>
            <tbody>
                {% for category_quantity in categoryQuantities%}
                    {% set row_balance = category_quantity.quantity %}
                    <tr>
                        <td class="category">{{category_quantity.category.fullName}}</td>
                        <td class="quantity">{{category_quantity.quantity}}</td>
                        {% if event_assets[category_quantity.category.id] is defined %}
                            {% for name, l in location_names %}
                                {% if event_assets[category_quantity.category.id][name] is defined %}
                                    <td class="quantity available">
                                        {{event_assets[category_quantity.category.id][name]}}
                                    </td>
                                    {% set row_balance = row_balance - event_assets[category_quantity.category.id][name] %}
                                {%else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% for name, l in location_names %}
                                <td></td>
                            {% endfor %}
                        {% endif %}
                        <td class="quantity balance {% if row_balance > 0 %}deficit{% endif %}">
                            {{row_balance}}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </article>
{% endif %}