<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets 
            '@dojo_dijit_css'
            '@dgrid_css'
            '@admin_css'
            filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="tundra">
    <div class="loading"></div>
    <header class="header right hide-on-load">
        <div class="header-user">
            {{ app.user.username }}
            <a href="{{ path('fos_user_security_logout') }}">{{ 'common.log_out'|trans }}</a>
        </div>
    </header>
    <div class="admin-menu-block hide-on-load">
        <a href="/"><img src="{{asset('images/logo.png')}}" width="75" height="auto" alt="{{ 'common.logo'|trans }}"></a>
        <nav id="admin-left-menu" class="admin-left-menu">
        </nav>
    </div>
    <div class="admin-body-wrapper hide-on-load">
        {% block body %}
        {% block admin_content %}{% endblock %}
    {% endblock %}
</div>

{% include 'admin/parts/page_footer_script.html.twig' %}

{% block javascripts %}
    {% javascripts '@admin_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
<script>
    require([
        "app/admin/menu",
        "dojo/domReady!"
    ], function (menu) {
        //"use strict";
        menu.run();
    });
</script>
</body>
</html>
