<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets 
            '@dojo_dijit_css'
            '@dgrid_css'
            '@admin_css'
            filter='cssrewrite' output='css/compiled/app-admin.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="tundra">
    <nav id="admin-top-menu">
        {{ knp_menu_render('admin',{'template': 'parts/admin/knp_menu.html.twig'}) }}
    </nav>
    <ul class="path">
        {% for item in knp_menu_get_breadcrumbs_array('admin') %}
            <li>{{ item.label|trans }}{{item.uri}}</li>
        {% endfor %}
    </ul>
    <div class="admin-body-wrapper">
        {% block body %}
        {% block admin_content %}{% endblock %}
    {% endblock %}
</div>

{% include 'parts/admin/page_footer_script.html.twig' %}

{% block javascripts %}
    {% javascripts '@admin_js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %} 
{% endblock %}
<script>
    require(["app/admin/menu"], function (menu) {
        menu.run();
    });
</script>
</body>
</html>
