<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets '@dojo_dijit_css'
            '@dgrid_css'
            '@main_css'
            '@admin_css'
            filter='cssrewrite' output='css/compiled/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="tundra">
{{ knp_menu_render('main') }}
<ul class="path">
{% for item in knp_menu_get_breadcrumbs_array('main') %}
<li>{{ item.label|trans }}{{item.uri}}</li>
{% endfor %}
</ul>
<div class="admin-body-wrapper">
{% block body %}
{% block admin_content %}{% endblock %}
{% endblock %}
</div>

{% include 'parts/page_footer_script.html.twig' %}
{% javascripts
    '@admin_js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}
</body>
</html>
