<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets 
            '@dojo_dijit_css'
            '@dgrid_css'
            '@admin_css'
            filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="tundra">
    {% if no_hide is not defined %}
        <div class="loading"></div>
    {% endif %}
    {% if omit_menu is not defined %}
        <header class="header right{% if no_hide is not defined %} hide-on-load{% endif %}">
            <div class="header-user">
                {{ app.user.username }}
                <a href="{{ path('fos_user_security_logout') }}">{{ 'common.log_out'|trans }}</a>
            </div>
        </header>
        <div class="admin-menu-block{% if no_hide is not defined %} hide-on-load{% endif %}">
            <a href="/"><img src="{{asset('images/logo.png')}}" width="75" height="auto" alt="{{ 'common.logo'|trans }}"></a>
            <nav id="admin-left-menu" class="admin-left-menu">
            </nav>
        </div>
    {% endif %}
    <div class="admin-body-wrapper{% if no_hide is not defined %} hide-on-load{% endif %}{% if omit_menu is defined %} no-menu{% endif %}">
        {% block body %}
        {% block admin_content %}{% endblock %}
    {% endblock %}
</div>

{% if app.environment == 'dev' %}
    {% include 'admin/parts/page_footer_script.html.twig' %}
{% else %}
    <script data-dojo-config="async:1" src="/vendor/release/dojo/dojo.js"></script>
{% endif %}

{% block javascripts %}

{% endblock %}
{% if omit_menu is not defined %}
    <script>
        require([
            "app/admin/menu",
            "dojo/domReady!"
        ], function (menu) {
            menu.run();
        });
    </script>
{% endif %}
{% block page_js %}
{% endblock %}
</body>
</html>
