{% block title %}{{ contract.client.name }} {{ contract.name }} {{'common.equipment'|trans }}{% endblock %}

{% extends 'admin.base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 
            '@admin_client_css'
            filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block admin_content %}
    <div id="contract-equipment-wrapper">
        <h1>{{ block ('title') }}</h1>
        {% include 'common/parts/contract-details.html.twig' %}
    </div>
{% endblock %}