{% block title %}{{ contract.client.name }} {{ contract.name }} {{'common.equipment'|trans }}{% endblock %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('build/css/admin_client.css') }}">
{% endblock %}

{% extends 'admin.base.html.twig' %}

{% block admin_content %}
    <div id="contract-equipment-wrapper">
        <h1>{{ block ('title') }}</h1>
        {% include 'common/parts/contract-details.html.twig' %}
    </div>
{% endblock %}