{% block title %}{{ contract.client.name }} {{ contract.name }} {{'common.admin'|trans }}{% endblock %}

{% extends 'admin.base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 
            '@admin_client_css'
            filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% form_theme contract_form _self %}

{% macro trailer_entry_row(type,form) %}{% spaceless %}
    {% if type is not defined %}{% set type = '' %}{% endif %}
    <div class="form-row {{ type }}">
        <span class="id">{{ form_widget(form.id) }}</span>
        <span class="trailer">{{ form_widget(form.trailer) }}</span>
        <span class="value">{{ form_widget(form.value) }}</span>
        <span class="comment">{{ form_widget(form.comment) }}</span>
        {% if form.parent.vars.allow_delete is defined %}
            <span class="remove-form-row" title="{{'common.remove'|trans}}" id="{{type}}-__{{type}}__"><i class="fa fa-remove"></i></span>
            {% endif %}
    </div>{% endspaceless %}{% endmacro %}

{% block _contract_requires_trailers_entry_row %}{% import _self as form_macros %}{{ form_macros.trailer_entry_row('requires_trailers',form) }}{% endblock %}
{% block _contract_available_trailers_entry_row %}{% import _self as form_macros %}{{ form_macros.trailer_entry_row('available_trailers',form) }}{% endblock %}

{% macro category_quantity_entry_row(type,form) %}{% spaceless %}
    {% if type is not defined %}{% set type = '' %}{% endif %}
    {% set type = type|replace('_','-') %}
    <div class="form-row {{ type }}">
        <span class="type-select">{{ form_widget(form.category) }}</span>
        <span class="quantity">{{ form_widget(form.quantity) }}</span>
        <span class="value">{{ form_widget(form.value) }}</span>
        <span class="comment">{{ form_widget(form.comment) }}</span>
        {% if form.parent.vars.allow_delete is defined %}
            <span class="remove-form-row" title="{{'common.remove'|trans}}" id="{{type}}-__{{type}}__"><i class="fa fa-remove"></i></span>
            {% endif %}
    </div>{% endspaceless %}{% endmacro %}

{% block _contract_requires_category_quantities_entry_row %}{% import _self as form_macros %}{{ form_macros.category_quantity_entry_row('requires_category_quantities',form) }}{% endblock %}
{% block _contract_available_category_quantities_entry_row %}{% import _self as form_macros %}{{ form_macros.category_quantity_entry_row('available_category_quantities',form) }}{% endblock %}

{% block admin_content %}
    <div id="contract-wrapper">
        <h1>{{ block ('title') }}</h1>
        <div class="contract">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash-notice">
                    {{ flash_message|trans }}
                </div>
            {% endfor %}
            {% if not contract_form.vars.valid %}
                <div class="form-errors contract">
                    {% for contract in contract_form %}
                        {% if not contract.vars.valid %}
                            {{form_errors(contract_form)}}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {{form_start(contract_form)}}
            <span class="id">{{ form_widget(contract_form.id) }}</span>
            <div class="text-right">
                <button id="contract-save-btn" type="submit">{{ 'common.save'|trans }}</button>
            </div>
            <div class="contract-data">
                <div class="name-value-active">   
                    <span class="contract name">
                        {{form_label(contract_form.name)}}
                        {{form_widget(contract_form.name)}}
                    </span>
                    <span class="contract value">
                        {{form_label(contract_form.value)}}
                        {{form_widget(contract_form.value)}}
                    </span>
                    <span class="contract start">
                        {{form_label(contract_form.start)}}
                        {{form_widget(contract_form.start)}}
                    </span>
                    <span class="contract end">
                        {{form_label(contract_form.end)}}
                        {{form_widget(contract_form.end)}}
                    </span>
                    <span class="contract active">
                        {{form_label(contract_form.active)}}
                        {{form_widget(contract_form.active)}}
                    </span>
                </div>
                <div class="container">
                    {{form_label(contract_form.container)}}
                    {{form_widget(contract_form.container)}}		    
                </div>
                <div class="comment">
                    {{form_widget(contract_form.comment)}}		    
                </div>
            </div>

            <fieldset id="contract-requires_trailers" class="contract requires">
                <legend>{{'common.requires'|trans}} {{'asset.trailers'|trans}}</legend>
                {{form_row(contract_form.requires_trailers)}}
                {% if contract_form.requires_trailers.vars.allow_add %}
                    <span data-type="requires_trailers" class="requires_trailers add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                {% endif %}
            </fieldset>

            <fieldset id="contract-available_trailers" class="contract available">
                <legend>{{'common.available'|trans}} {{'asset.trailers'|trans}}</legend>
                {{form_row(contract_form.available_trailers)}}
                {% if contract_form.available_trailers.vars.allow_add %}
                    <span data-type="available_trailers" class="available_trailers add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                {% endif %}
            </fieldset>
            <fieldset id="contract-requires_category_quantities" class="contract requires">
                <legend>{{'common.requires'|trans}} {{'asset.equipment'|trans}}</legend>
                {{form_row(contract_form.requires_category_quantities)}}
                {% if contract_form.requires_category_quantities.vars.allow_add %}
                    <span data-type="requires_category_quantities" class="requires-category-quantities add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                {% endif %}
            </fieldset>

            <fieldset id="contract-available_category_quantities" class="contract available">
                <legend>{{'common.available'|trans}} {{'asset.equipment'|trans}}</legend>
                {{form_row(contract_form.available_category_quantities)}}
                {% if contract_form.available_category_quantities.vars.allow_add %}
                    <span data-type="available_category_quantities" class="available-category-quantities add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                {% endif %}
            </fieldset>
            {{form_end(contract_form)}}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(["app/admin/client/contract"], function (contract) {
            contract.run();
        });
    </script>
{% endblock %}
