{% block title %}{{ 'common.schedule'|trans }} {{'common.admin'|trans }}{% endblock %}

{% extends 'admin.base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 
            '@admin_schedule_css'
            filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% form_theme event_form _self %}

{% block _event_contacts_entry_row %}
    <div class="form-row contacts">
        {% include 'common/person.html.twig' with {'legend': 'common.contact'} %}
    </div>
{% endblock %}

{% block _event_contacts_entry_addresses_entry_row %}
    {{ block('_address_entry_row') }}
{% endblock %}

{% block _event_contacts_entry_emails_entry_row %}
    {{ block('_emails_entry_row') }}
{% endblock %}

{% block _event_contacts_entry_phones_entry_row %}
    {{ block('_phones_entry_row') }}
{% endblock %}

{% block _event_contracts_entry_row %}{% spaceless %}
        <div class="form-row contract">
            <span class="name"><input id="{{id}}" type="text"><a id="contract-equipment-link-{{id}}" class="contract-equipment-link" target="contract-equipment-{{id}}">{{'common.equipment'|trans}}</a></span>
                {% if form.parent.vars.allow_delete %}
                <span class="remove-form-row" title="{{'common.remove'|trans}}" id="contract-__contract__"><i class="fa fa-remove"></i></span>
                {% endif %}
        </div>
{% endspaceless %}{% endblock %}

{% block _event_trailers_entry_row %}{% spaceless %}
        <div class="form-row trailer">
            <span class="name"><input id="{{id}}" type="text"> <a id="trailer-equipment-link-{{id}}" class="contract-equipment-link"  href="equipment-link" target="trailer-equipment-{{id}}">{{'common.equipment'|trans}}</a></span>
                {% if form.parent.vars.allow_delete %}
                <span class="remove-form-row" title="{{'common.remove'|trans}}" id="trailer-__trailer__"><i class="fa fa-remove"></i></span>
                {% endif %}
        </div>
{% endspaceless %}{% endblock %}

{% block _event_time_spans_entry_row %}{% spaceless %}
        <div class="form-row time-span">
            <span class="type">
                {{ form_widget(form.type) }}
            </span>
            <span class="start">
                {{ form_widget(form.start) }} <input id="{{id}}-start-time" type="text">
            </span>
            <span class="end">
                {{ form_widget(form.end) }} <input id="{{id}}-end-time" type="text">
            </span>
            <span class="comment">{{ form_widget(form.comment) }}</span>
            {% if form.parent.vars.allow_delete %}
                <span class="remove-form-row" title="{{'common.remove'|trans}}" id="time-span-__time_span__"><i class="fa fa-remove"></i></span>
                {% endif %}
        </div>
{% endspaceless %}{% endblock %}      

{% block admin_content %}
    <div id="event-wrapper">
        <h1>{{ block('title') }}</h1>
        <div class="grid-controls">
            <div>
                <button id="event-new-btn" type="button">{{ 'common.new'|trans }}</button>
            </div>
            <div>
                <form id="event-grid-filter-form">
                    <label for="filter-input">{{ 'common.filter'|trans }}</label><input type="text" id="event-filter-input">
                </form>
            </div>
            <button id="event-remove-btn" type="button">{{ 'common.remove'|trans }}</button>
        </div>
        <div id="event-grid">
        </div>
        <div id="event-view-dialog">
            {{form_start(event_form)}}
            <span class="id">{{ form_widget(event_form.id) }}</span>
            <div class="text-right">
                <button id="event-save-btn" type="button">{{ 'common.save'|trans }}</button>
            </div>
            <div class="event">
                <fieldset class="name-active">
                    <legend>{{'common.event'|trans}}</legend>
                    <div class="event name">
                        {{form_widget(event_form.name)}}
                    </div>
                    <div class="justify">
                        <span class="event client">
                            {{form_widget(event_form.client)}}
                        </span>
                        <span class="event start">
                            {{form_label(event_form.start)}}
                            {{form_widget(event_form.start)}}
                        </span>
                        <span class="event end">
                            {{form_label(event_form.end)}}
                            {{form_widget(event_form.end)}}
                        </span>
                        <span class="event-flags">
                            {{form_widget(event_form.tentative)}}
                            {{form_label(event_form.tentative)}}
                            {{form_widget(event_form.billable)}}
                            {{form_label(event_form.billable)}}
                            {{form_widget(event_form.canceled)}}
                            {{form_label(event_form.canceled)}}
                        </span>
                    </div>
                </fieldset>
                <div id="event-view-tabs">
                    <div id="event-view-details-tab">
                        <fieldset class="details">
                            {{form_row(event_form.description,{"attr":{"class":"description"}})}}
                        </fieldset>
                    </div>
                    <div id="event-view-equipment-tab"> 
                        <div class="justify right">
                            <a class="hidden" target="_blank" id="full-equipment-link" href="{{url('app_common_event_view',{'id':'__ID__'})}}">{{'asset.equipment'|trans}}</a>                        </div>
                        <div class="justify">
                            <fieldset class="contracts">
                                <legend>{{'client.contracts'|trans}}</legend>
                                {{form_row(event_form.contracts)}}
                                {% if event_form.contracts.vars.allow_add %}
                                    <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                                {% endif %}
                            </fieldset>
                            <fieldset class="trailers">
                                <legend>{{'asset.trailers'|trans}}</legend>
                                <h2>{{'client.contract'|trans}} {{'asset.required'|trans}} / {{'common.available'|trans}}</h2>
                                <ul id="trailers-required-by-contracts">
                                </ul>
                                <h2>{{'common.additional'|trans}}</h2>
                                {{form_row(event_form.trailers)}}
                                {% if event_form.trailers.vars.allow_add %}
                                    <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                                {% endif %}
                            </fieldset>
                            <fieldset class="equipment">
                                <legend>{{'asset.equipment'|trans}}</legend>
                            </fieldset>
                        </div>
                    </div>
                    <div id="event-view-contacts-tab">
                        <fieldset class="contacts">
                            {{form_row(event_form.contacts)}}
                            {% if event_form.contacts.vars.allow_add %}
                                <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                            {% endif %}
                        </fieldset>
                    </div>
                    <div id="event-view-venue-tab">
                        <fieldset class="event venue">
                            <legend>{{'common.venue'|trans}}</legend>
                            <div class="justify left">
                                <span>
                                    {{form_row(event_form.venue)}}
                                </span>
                                <span>
                                    <a id="venue-equipment-link" target="_blank">{{ 'common.equipment'|trans }}</a>
                                </span>
                                <span class="venue-info">
                                    <div class="label">{{ 'common.address'|trans }}</div>
                                    <pre id="venue-address"></pre>
                                </span>
                            </div>
                            <div class="justify">
                                <span class="venue-info">
                                    <div class="label">{{ 'common.comment'|trans }}</div>
                                    <div id="venue-comment"></div>
                                </span>
                                <span class="venue-info">
                                    <div class="label">{{ 'common.directions'|trans }}</div>
                                    <div id="venue-directions"></div>
                                </span>
                                <span class="venue-info">
                                    <div class="label">{{ 'common.address'|trans }}</div>
                                    <div id="venue-parking"></div>
                                </span>
                            </div>
                        </fieldset>
                    </div>
                    <div id="event-view-times-tab">
                        <fieldset class="event time-spans">
                            <legend>{{'common.schedule'|trans}}</legend>
                            {{form_row(event_form.time_spans)}}
                            {% if event_form.time_spans.vars.allow_add %}
                                <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                            {% endif %}
                        </fieldset>
                    </div>
                    <div id="event-view-staff-tab">
                        <fieldset class="event staff">
                            <legend>{{'event.staff'|trans}}</legend>
                            {# {{form_row(event_form.event_times)}}
                                                    {% if event_form.events.vars.allow_add %}
                                                        <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                                                    {% endif %} #}
                        </fieldset>
                    </div>
                    <div id="event-view-history-tab">
                    </div>
                </div>
            </div>
            {{ form_end(event_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(["app/admin/schedule/event"], function (event) {
            event.run();
        });
    </script>
{% endblock %}