{% block title %}{{ 'common.schedule'|trans }} {{'common.admin'|trans }}{% endblock %}

{% extends 'admin.base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 
            '@admin_schedule_css'
            filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% form_theme event_form _self %}

{% block _event_contacts_entry_row %}
    <div class="form-row contacts">
        {% include 'common/person.html.twig' with {'legend': 'common.contact'} %}
    </div>
{% endblock %}

{% block _event_contacts_entry_addresses_entry_row %}
    {{ block('_address_entry_row') }}
{% endblock %}

{% block _event_contacts_entry_emails_entry_row %}
    {{ block('_emails_entry_row') }}
{% endblock %}

{% block _event_contacts_entry_phones_entry_row %}
    {{ block('_phones_entry_row') }}
{% endblock %}

{% block admin_content %}
    <div id="event-wrapper">
        <h1>{{ block('title') }}</h1>
        <div class="grid-controls">
            <div>
                <button id="event-new-btn" type="button">{{ 'common.new'|trans }}</button>
            </div>
            <div>
                <form id="event-grid-filter-form">
                    <label for="filter-input">{{ 'common.filter'|trans }}</label><input type="text" id="event-filter-input">
                </form>
            </div>
            <button id="event-remove-btn" type="button">{{ 'common.remove'|trans }}</button>
        </div>
        <div id="event-grid">
        </div>
        <div id="event-view-dialog">
            {{form_start(event_form)}}
            <span class="id">{{ form_widget(event_form.id) }}</span>
            <div class="text-right">
                <button id="event-save-btn" type="button">{{ 'common.save'|trans }}</button>
            </div>
            <div class="event">
                <fieldset class="name-active">
                    <legend>{{'common.event'|trans}}</legend>
                    <div class="event name">
                        {{form_widget(event_form.name)}}
                    </div>
                    <div class="justify">
                        <span class="event client">
                            {{form_widget(event_form.client)}}
                        </span>
                        <span class="event start">
                            {{form_label(event_form.start)}}
                            {{form_widget(event_form.start)}}
                        </span>
                        <span class="event end">
                            {{form_label(event_form.end)}}
                            {{form_widget(event_form.end)}}
                        </span>
                        <span class="event-flags">
                            {{form_widget(event_form.tentative)}}
                            {{form_label(event_form.tentative)}}
                            {{form_widget(event_form.billable)}}
                            {{form_label(event_form.billable)}}
                            {{form_widget(event_form.canceled)}}
                            {{form_label(event_form.canceled)}}
                        </span>
                    </div>
                    {{form_row(event_form.comment)}}
                </fieldset>
                <div id="event-view-tabs">
                    <div id="event-view-contacts-tab">
                        <fieldset class="contacts">
                            {{form_row(event_form.contacts)}}
                            {% if event_form.contacts.vars.allow_add %}
                                <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                            {% endif %}
                        </fieldset>
                    </div>
                    <div id="event-view-times-tab">
                        <fieldset class="event times">
                            <legend>{{'event.times'|trans}}</legend>
                            {# {{form_row(event_form.event_times)}}
                                                    {% if event_form.events.vars.allow_add %}
                                                        <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                                                    {% endif %} #}
                        </fieldset>
                    </div>
                    <div id="event-view-history-tab">
                    </div>
                </div>
            </div>
            {{ form_end(event_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(["app/admin/schedule/event"], function (event) {
            event.run();
        });
    </script>
{% endblock %}