{% block title %}{{ event.name }} {{'common.equipment'|trans }}{% endblock %}

{% extends 'admin.base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
            '@admin_client_css'
            filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block admin_content %}
    <div id="event-equipment-wrapper">
        <h1>{{ block ('title') }}</h1>
        <div class="event">
            <div class="event-data">
                <div>
                    <span class="tentative">
                        {% if event.tentative %}
                            {{'event.tentative'|trans}}
                        {% else %}
                            {{'event.firm'|trans}}
                        {%endif%}
                    </span>
                    <span class="billable">
                        {% if event.billable %}
                            {{'common.billable'|trans}}
                        {% else %}
                            {{'common.not_billable'|trans}}
                        {%endif%}
                    </span>
                    <span class="canceled">
                        {% if event.canceled %}
                            {{'common.canceled'|trans}}
                        {%endif%}
                    </span>
                </div>
                {% if event.description is not empty %}
                    <div class="description">
                        <div class="label">{{'common.description'|trans}}</div>
                        {{event.description}}
                    </div>
                {% endif %}
            </div>
            <section>
                {% if event.contracts is not empty %}
                    {% for contract in event.contracts %}
                        {% include 'common/parts/contract-details.html.twig' with { 'event':true } %}
                    {% endfor %}
                {% endif %}
            </section>
            <section>
                {% include 'common/parts/asset-balance.html.twig' %}
            </section>
        </div>
    </div>
{% endblock %}