<fieldset class="inline-block">
    <legend>{{'common.person'|trans}}</legend>
    <div class="justify">
        {{form_row(form.firstname)}}
    </div>
    <div class="justify">
        {{form_row(form.middleinitial)}}
    </div>
    <div class="justify">
        {{form_row(form.lastname)}}
    </div>

    <span class="sub-form-legend">{{'common.phone_numbers'|trans}}</span>
    {{form_row(form.phone_numbers)}}
</fieldset>