<fieldset class="person inline-block">
    {% if legend is not defined %}{% set legend = 'common.person' %}{% endif %}
    <legend>{{legend|trans}}</legend>
    <div class="name">
        {{form_widget(form.type)}}
        {{form_widget(form.firstname)}}
        {{form_widget(form.middlename)}}
        {{form_widget(form.lastname)}}
    </div>
    <div class="comment">
        {{form_widget(form.comment)}}
    </div>
    {% include 'common/emails.html.twig' with {'form': form.emails } %}
    {% include 'common/phone_numbers.html.twig' with {'form': form.phones } %}
    {% include 'common/addresses.html.twig' with { 'form' : form.addresses } %}
</fieldset>