{% block title %}{{ trailer.name }} {{'common.equipment'|trans }}{% endblock %}

{% extends 'admin.base.html.twig' %}

{% block stylesheets %}
    {% stylesheets 
            '@admin_client_css'
            filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block admin_content %}
    <div id="trailer-equipment-wrapper">
        <h1>{{ block ('title') }}</h1>
        <div class="trailer">
            <div class="trailer-data">
                <div class="name-value-active">   
                    <span class="trailer name">
                        {{trailer.name}}
                    </span>
                    <span class="trailer active">
                        {% if trailer.active %}
                            {{'common.active'|trans}}
                        {% else %}
                            {{'common.not_active'|trans}}  
                        {%endif%}
                    </span>
                </div>
                <div class="comment">
                    <div class="label">{{'common.comment'|trans}}</div>
                    {{trailer.comment}}		    
                </div>
            </div>
            <section>
                {% if equipment is not empty %}
                    <article class="trailer equipment">
                        <h2>{{'common.available'|trans}} {{'asset.equipment'|trans}}</h2>
                        <ul class="available-list">
                            {% for category in equipment %}
                                <li class="justify">
                                    <span class="category">{{category.fullName}}</span>
                                    <span class="quantity">{{category.quantity}}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </article>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}