<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('build/main.css') }}" />
            {% block additional_stylesheets %}
            {% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body role="document">

        {% include 'user/parts/nav.html.twig' %}

        <div class="container content" role="main">
            <div class="row">
                <div class="col-xs-12">
                    <h1>{{ block('title') }}
                        {% if no_settings is not defined %}
                            <small data-toggle="modal" data-target="#display-controls"><i class="fa fa-gears"></i></small>
                            {% endif %}
                    </h1>
                </div>
            </div>
            {% block body %}
            {% endblock %}
            {% block fos_user_content %}
            {% endblock %}
        </div>

        <div id="display-controls" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{'common.controls'|trans}}</h4>
                    </div>
                    <div class="modal-body">
                        {% block modal_text %}
                        {% endblock %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">{{ 'common.apply'|trans}}</button>
                        <button type="button" class="btn btn-primary">{{ 'common.save'|trans}}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {% block footer %}
            {% include 'user/parts/page_footer_script.html.twig' %}
        {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>