<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//unpkg.com/font-awesome/css/font-awesome.min.css">
            <link rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css">
            {% block additional_stylesheets %}
            {% endblock %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body role="document">
        <div id="app">
            {% if omit_menu is not defined %}
                {% include 'common/parts/nav.html.twig' %}
            {% endif %}
            <b-container fluid>
                <h1>{{ block('title') }}
                    {% if no_settings is not defined %}
                        <small data-toggle="modal" data-target="#display-controls"><i class="fa fa-gears"></i></small>
                        {% endif %}
                </h1>
                {% block body %}
                {% endblock %}
                {% block fos_user_content %}
                {% endblock %}
            </b-container>
        </div>

        <div id="display-controls" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{'common.controls'|trans}}</h4>
                    </div>
                    <div class="modal-body">
                        {% block modal_text %}
                        {% endblock %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">{{ 'common.apply'|trans}}</button>
                        <button type="button" class="btn btn-primary">{{ 'common.save'|trans}}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        {% block javascripts %}
            <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
            <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
            {% block additional_javascripts %}
            {% endblock %}
        {% endblock %}
    </body>
</html>