{% extends 'base.html.twig' %}
{% import 'user/calendar/macros.html.twig' as macros %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/js/calendar.css') }}">
{% endblock %}

{% block additional_javascripts %}
    <script src="{{ asset('build/js/calendar.js') }}"></script>
{% endblock %}

{% block title %}{{ 'common.calendar'|trans }}{% endblock %}

{% block body %}
    <div class="calendar">
        <b-row>
            <b-col class="ml-auto text-right"><smalll>{{ date|date('m/d/Y') }}</small></b-col>
        </b-row>
        {% for i in 0..1 %}
            <b-row>
                {% for day in ['sun','mon','tues','wed','thu','fri','sat'] %}
                    <b-col>
                        <b-card no-body title="{{ day|trans }}"
                                img-src="https://placekitten.com/180/100"
                                img-alt="Image"
                                img-top
                                style="min-width:calc(100%/7);"
                                tag="article"
                                class="mb-2">
                            <h4 slot="header">{{ day|trans }}</h4>
                            <b-card-body>
                                <p class="card-text">
                                    {% if day == 'tues' %}
                                        Blah blah blah
                                    {% endif %}
                                </p>
                            </b-card-body><b-card-footer>This is a footer</b-card-footer>
                        </b-card>
                    </b-col>
                {% endfor %}
                <div class="w-100"></div>
            </b-row>
        {% endfor %}
        <!-- eventually, this needs to be converted such that each card is a single day of events -->
        <b-row>
            {% for event in events %}
                <b-col>
                    <b-card no-body title="{{ event.start|date('D m/d') }}{% if event.start != event.end %} - {{ event.end|date('D m/d') }}{% endif %}"
                            img-src="https://placekitten.com/180/100"
                            img-alt="Image"
                            img-top
                            style="min-width:calc(100%/7);"
                            tag="article"
                            class="mb-2">
                        <span class="start"></span>
                        <h4 slot="header">
                            <small>{% if event.tentative %}tentative {% endif %}{% if event.canceled %}canceled {% endif %}{{event.id}}</small>
                        </h4>
                        <b-card-body>
                            <p class="card-text">
                                <a target="_blank" href="{{url('app_common_event_view',{'id':event.id})}}">{{ event.name }}</a>
                                {{ macros.display_event(event) }}</p>
                        </b-card-body>
                    </b-card>
                </b-col>
            {% endfor %}
        </b-row>
    </div>
{%endblock%}

{% block modal_text %}
    <p>Calendar</p>
{% endblock %}