{% macro display_event(event) %}
    <div class="event">
        <span class="client">{{event.client.name}}</span>
        {% if event.contracts is not empty %}
            {% for contract in event.contracts %}
                {% if contract.requiresTrailers is not empty %}
                    <ul class="list-unstyled">
                        {% for t in contract.requiresTrailers %}
                            <li>
                                <a target="_blank" href="{{url('app_common_trailer_viewtrailerequipment',{'name':t.trailer.name})}}">{{t.trailer.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {%endfor %}
        {% endif %}
        {% if event.trailers %}
            <div class="trailers">
                <ul class="list-unstyled">
                    {% for t in event.trailers %}
                        <li>
                            <a target="_blank" href="{{url('app_common_trailer_viewtrailerequipment',{'name':t.name})}}">{{t.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {%endif %}
    </div>
{% endmacro %}
