{% extends 'base.html.twig' %}

{% block title %}{{ 'common.map'|trans }}{% endblock %}

{% block stylesheets %}
    {% stylesheets
            '@bootstrap_css'
            '@main_css'
            filter='cssrewrite' output='css/compiled/map.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">  
    {% endstylesheets %}  
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-6">
            <h1>{{ 'common.map'|trans }}
                <small data-toggle="modal" data-target="#map-controls"><i class="fa fa-gears"></i></small>
            </h1>
        </div>
        <div class="col-sm-1 pull-right"><small>{{ date|date('m/d/Y') }}</small></div>
    </div>

    <div class="row">
        <p>Map goes here</p>
    </div>

    <div id="map-controls" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{'map.controls'|trans}}</h4>
                </div>
                <div class="modal-body">
                    <p>What would you like to see on this map?</p>
                    <p>How would you like the map to be formatted?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">{{ 'common.apply'|trans}}</button>
                    <button type="button" class="btn btn-primary">{{ 'common.save'|trans}}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% block footer %}
    {% include 'user/map/page_footer_script.html.twig' %}
{% endblock %}
