{% extends 'base.html.twig' %}
{% import 'calendar/macros.html.twig' as macros %}

{% block title %}{{ 'common.calendar'|trans }}{% endblock %}

{% block stylesheets %}
    {% stylesheets
            '@calendar_css'
            '@main_css'
            filter='cssrewrite' output='css/compiled/calendar.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">  
    {% endstylesheets %}  
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-6"><h1>{{ 'common.calendar'|trans }}</h1></div>
        <div class="col-sm-1 pull-right"><small>{{ date|date('m/d/Y') }}</small></div>
    </div>

    {% for i in 0..1 %}
    <div class="row">
        {% for day in days_of_the_week %}
            <div class="col-sm-1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title day-name">{{ day|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        {% if day == 'Tuesday' %}
                            {{ macros.event(date,date,'Test','content') }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}

{% endblock %}

{% block footer %}
    {% include 'calendar/page_footer_script.html.twig' %}
{% endblock %}
