<div class="emails">
    <span class="sub-form-legend">{{'common.email'|trans}}</span>
    {% set prototype %}{% spaceless %}
    <div class="view-inline">
        <span id="{{base}}_emails___email___type"></span>
        <span id="{{base}}_emails___email___email"></span>
        <span id="{{base}}_emails___email___comment"></span>
    </div>
    {% endspaceless %}
    {% endset %}
    <div id="{{base}}_emails" data-prototype="{{prototype|escape('html')}}"></div>
</div>