{% block title %}{{event.id}} - {{ event.name }}{% endblock %}

{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('build/css/bootstrap.css') }}">
   <link rel="stylesheet" href="{{ asset('build/css/event.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <span class="col-xs-6">
            {{ event.start|date('D m/d') }}
            {% if event.start != event.end %}
                - {{ event.end|date('D m/d') }}
            {% endif %}
        </span>
        <div class="col-sm-6">
            <span class="tentative">
                {% if event.tentative %}
                    {{'event.tentative'|trans}}
                {% else %}
                    {{'event.firm'|trans}}
                {%endif%}
            </span>
            <span class="billable">
                {% if event.billable %}
                    {{'common.billable'|trans}}
                {% else %}
                    {{'common.not_billable'|trans}}
                {%endif%}
            </span>
            <span class="canceled">
                {% if event.canceled %}
                    {{'common.canceled'|trans}}
                {%endif%}
            </span>
        </div>
    </div>
    <hr>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="identification-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#identification" aria-expanded="true" aria-controls="identification">
                        {{'common.details'|trans}}
                    </a>
                </h4>
            </div>
            <div id="identification" class="panel-collapse collapse in" role="tabpanel">
                <div class="panel-body">
                    <h3>
                        {{event.client.name}}
                    </h3>
                    <div class="row">
                        <div class="col-sm-6">
                            {{event.venue.name}}
                            <pre>{%spaceless%}
                                {{event.venue.address.getAddress()|trim}}
                            {%endspaceless%}</pre>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            {% if event.description is not empty %}
                                {{event.description}}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="contacts-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#contacts" aria-expanded="true" aria-controls="identification">
                        {{'common.contacts'|trans}}
                    </a>
                </h4>
            </div>
            <div id="contacts" class="panel-collapse collapse in" role="tabpanel">
                <div class ="panel-body">
                    {% include 'common/parts/event-contacts.html.twig' %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="schedule-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#schedule" aria-expanded="false" aria-controls="contracts">
                        {{'common.schedule'|trans}}
                    </a>
                </h4>
            </div>
            <div id="schedule" class="panel-collapse collapse in" role="tabpanel">
                <div class="panel-body">
                    {% include 'common/parts/event-timespans.html.twig' %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="staff-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#staff" aria-expanded="false" aria-controls="contracts">
                        {{'common.staff'|trans}}
                    </a>
                </h4>
            </div>
            <div id="staff" class="panel-collapse collapse in" role="tabpanel">
                <div class="panel-body">
                    {% include 'common/parts/event-roles.html.twig' %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="contracts-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#contracts" aria-expanded="false" aria-controls="contracts">
                        {{'client.contracts'|trans}}
                    </a>
                </h4>
            </div>
            <div id="contracts" class="panel-collapse collapse in" role="tabpanel">
                <div class="panel-body">
                    {% if event.contracts is not empty %}
                        {% for contract in event.contracts %}
                            {% include 'common/parts/contract-details.html.twig' with { 'event':true } %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="assets-needed-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#assets-needed" aria-expanded="false" aria-controls="assets-needed">
                        {{'event.assets_needed'|trans}}
                    </a>
                </h4>
            </div>
            <div id="assets-needed" class="panel-collapse collapse in" role="tabpanel" aria-labeled-by="assets-needed-heading">
                <div class="panel-body">
                    {% include 'common/parts/asset-balance.html.twig' %}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="transfers-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" href="#transfers" aria-expanded="false" aria-controls="transfers">
                        {{'asset.transfers'|trans}}
                    </a>
                </h4>
            </div>
            <div id="transfers" class="panel-collapse collapse in" role="tabpanel" aria-labeled-by="transfers-heading">
                <div class="panel-body">
                    {% include 'common/parts/event-transfers.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_text %}
    <p>Event equipment by category</p>
{% endblock %}