{% block title %}{{ trailer.name }} {{'common.equipment'|trans }}{% endblock %}

{% extends 'admin.base.html.twig' %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('build/css/admin_client.css') }}">
{% endblock %}

{% block admin_content %}
    <div id="trailer-equipment-wrapper">
        <h1>{{ block ('title') }}</h1>
        <div class="trailer">
            <div class="trailer-data">
                <!--div class="name-value-active">
                    <span class="trailer name">
                {{trailer.name}}
            </span>
            <span class="trailer active">
                {% if trailer.active %}
                    {{'common.active'|trans}}
                {% else %}
                    {{'common.not_active'|trans}}
                {%endif%}
            </span>
        </div-->
                <div class="description">
                    <!--div class="label">{{'common.description'|trans}}</div-->
                    {{trailer.description}}
                </div>
            </div>
            <section>
                {% if equipment is not empty %}
                    <article class="trailer equipment">
                        <h2>{{'common.satisfies'|trans}}</h2>
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>{{'asset.model'|trans}}</th>
                                    <th>{{'asset.category'|trans}}</th>
                                    <th>{{'asset.model'|trans}}</th>
                                    <th>{{'common.quantity'|trans}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for asset in equipment %}
                                    <tr>
                                        <td class="model-name">{{asset.model.name}}</span>
                                        <td class="model-fullname">{{asset.model.category.fullName}}</span>
                                        <td>
                                            <ul class="counts">
                                                {%for satisfies in asset.model.satisfies%}
                                                    <li>{{satisfies.fullName}}</li>
                                                    {%endfor %}
                                            </ul>
                                        </td>
                                        <td class="quantity">{{model_counts[asset.model.id]}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </article>
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}