{% block title %}{{ 'common.people'|trans }} {{'common.admin'|trans }}{% endblock %}
{% extends 'admin.base.html.twig' %}

{% form_theme person_form _self %}

{% block _person_addresses_entry_row %}
    {{ block('_address_entry_row') }}
{% endblock %}

{% block _person_emails_entry_row %}
    {{ block('_emails_entry_row') }}
{% endblock %}

{% block _person_phones_entry_row %}
    {{ block('_phones_entry_row') }}
{% endblock %}

{% block _person_roles_entry_row %}{% spaceless %}
        <div class="form-row person-role">
            <div class="details justify">
                {{ form_widget(form.role) }}
                {{form_row(form.start)}}
                {{form_row(form.end)}}
            {% if form.parent.vars.allow_delete %}
                <span class="remove-form-row" title="{{'common.remove'|trans}}" id="person-__role__"><i class="fa fa-remove"></i></span>
            {% endif %}
            </div>
        </div>
    </div>
{% endspaceless %}{% endblock %}

{% block admin_content %}
    <div id="person-wrapper">
        <h1>{{ 'common.person'|trans }} {{'common.admin'|trans }}</h1>
        <div class="grid-controls">
            <div>
                <button id="person-new-btn" type="button">{{ 'common.new'|trans }}</button>
            </div>
            <div>
                <form id="person-grid-filter-form">
                    <label for="filter-input">{{ 'common.filter'|trans }}</label><input type="text" id="person-filter-input">
                </form>
            </div>
            <button id="person-remove-btn" type="button">{{ 'common.remove'|trans }}</button>
        </div>
        <div id="person-grid">
        </div>
        <div id="person-view-dialog">
            {{form_start(person_form)}}
            <div class="text-right">
                <button id="person-save-btn" type="button">{{ 'common.save'|trans }}</button>
            </div>
            <div id="person" class="person">
                <fieldset class="name-active">
                    <legend>{{'common.person'|trans}}</legend>
                    <div class="text-right">
                        {{form_widget(person_form.active)}}
                        {{form_label(person_form.active)}}
                    </div>
                </fieldset>

                <div id="person-view-tabs">
                    <div id="person-view-base-tab">
                        <fieldset class="base-data">
                            {% include 'common/person.html.twig' with {'legend': 'common.person', 'form': person_form} %}
                        </fieldset>
                    </div>
                    <div id="person-view-employment-tab">
                    </div>
                    <div id="person-view-staff-tab">
                        <div id="roles" class="roles">
                            {{form_row(person_form.roles)}}
                            {% if person_form.roles.vars.allow_add %}
                                <div class="add-one-more-row">{{ 'common.add_one_more'|trans}}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div id="person-view-user-tab">
                    </div>
                    <div id="person-view-history-tab">
                    </div>
                </div>
            </div>
            {{ form_end(person_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(["app/admin/common/people"], function (people) {
            people.run();
        });
    </script>
{% endblock %}