<fieldset class="person inline-block">
{% if legend is not defined %}{% set legend = 'common.person' %}{% endif %}
{% if base is not defined %}{% set base = 'user' %}{% endif %}
<legend>{{legend|trans}}</legend>
    {% set prototype %}{% spaceless %}
        <div class="view-inline">
            <span id="{{base}}_person___person___type"></span>
            <span id="{{base}}_person___person___fullname"></span>
            <span id="{{base}}_person___person___comment"></span>
        </div>{% endspaceless %}
    {% endset %}
    <div id="{{base}}_person" data-prototype="{{prototype|escape('html')}}"></div>
    {% include 'common/view-only/emails.html.twig' with { 'base': base ~ '_person' } %}
    {% include 'common/view-only/phone_numbers.html.twig'  with { 'base': base ~ '_person'  } %}
    {% include 'common/view-only/addresses.html.twig'  with { 'base': base ~ '_person'  } %}
</fieldset>