{% extends 'base.html.twig' %}
{% import 'user/calendar/macros.html.twig' as macros %}

{% block title %}{{ 'common.calendar'|trans }}{% endblock %}

{% block stylesheets %}
    {% stylesheets
            '@main_css'
            '@calendar_css'
            filter='cssrewrite' output='css/compiled/cal.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet">  
    {% endstylesheets %}  
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-6">
            <h1>{{ block('title') }}
                <small data-toggle="modal" data-target="#calendar-controls"><i class="fa fa-gears"></i></small>
            </h1>
        </div>
        <div class="col-sm-1 pull-right"><small>{{ date|date('m/d/Y') }}</small></div>
    </div>

    <div class="row">
        {% for event in events %}
            <div class="col-sm-1">
                <div class="panel panel-default">
                    <div class="panel-heading event">
                        <span class="start">{{ event.start|date('m/d/Y') }}</span>
                        {% if event.start != event.end %}
                            &em; <span class="end">{{ event.end|date('m/d/Y') }}</span>
                        {% endif %}
                        <h3 class="panel-title event-name">{{ event.name }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ macros.display_event(event) }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="calendar-controls" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{'calendar.controls'|trans}}</h4>
                </div>
                <div class="modal-body">
                    <p>What would you like to see on this calendar?</p>
                    <p>How would you like the calendar to be formatted?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">{{ 'common.apply'|trans}}</button>
                    <button type="button" class="btn btn-primary">{{ 'common.save'|trans}}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endblock %}

{% javascripts
    '@calendar_js'
%}
{% endjavascripts %}
