{% macro display_event(event) %}
    <div class="event">
        <div class="full-equipment-link">
            <a target="_blank" href="{{url('app_common_event_vieweventequipment',{'id':event.id})}}">{{'asset.equipment'|trans}}</a>
        </div>
        <span class="client">{{event.client.name}}</span>
        <span class="description">{{ event.description }}</span>
        {% if event.contracts is not empty %}
            {% for contract in event.contracts %}
                {% if contract.requiresTrailers is not empty %}
                    <span class="requires trailers">{{'common.requires'|trans}} {{'asset.trailers'|trans}}</span>
                    <ul class="list-unstyled">
                        {% for t in contract.requiresTrailers %}
                            <li>
                                <a target="_blank" href="{{url('app_common_trailer_viewtrailerequipment',{'name':t.trailer.name})}}">{{t.trailer.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {%endfor %}
        {% endif %}
        {% if event.trailers %}
            <div class="trailers">
                <ul class="list-unstyled">
                    {% for t in event.trailers %}
                        <li>
                            <a target="_blank" href="{{url('app_common_trailer_viewtrailerequipment',{'name':t.name})}}">{{t.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {%endif %}

        {% if event.tentative %}{{'event.tentative'|trans}}{% endif %}
        {% if event.canceled %}{{'event.canceled'|trans}}{% endif %}

    </div>
{% endmacro %}
