<div class="contract">
    <div class="contract-data">
        <h3>
            {{contract.name}}
        </h3>
        <div class="row">
            <span class="col-sm-4">
                {{contract.start|date('m/d/Y')}}
                &dash;
                {{contract.end|date('m/d/Y')}}
            </span>
            <span class="col-sm-4">
                {% if contract.active %}
                    {{'common.active'|trans}}
                {% else %}
                    {{'common.not_active'|trans}}
                {%endif%}
            </span>
            <span class="col-sm-4">
                {% if contract.container %}
                    {{'asset.container'|trans}}
                {% endif %}
            </span>
        </div>
        <div class="row comment">
            <div class="label">{{'common.comment'|trans}}</div>
            {{contract.comment}}
        </div>
    </div>

    <section>
        {% if contract.requiresTrailers is not empty %}
            <article class="contract requires">
                <h3>{{'common.requires'|trans}} {{'asset.trailers'|trans}}</h3>
                {% for trailer in contract.requiresTrailers %}
                    {{trailer.trailer.name }}
                {% endfor %}
            </article>
        {% endif %}

        {% if contract.availableTrailers is not empty %}
            <article class="contract available">
                <h3>{{'common.available'|trans}} {{'asset.trailers'|trans}}</h3>
                {% for trailer in contract.availableTrailers %}
                    {{trailer.trailer.name}}
                {% endfor %}
            </article>
        {% endif %}

        {% if event is not defined %}
            {% set event = false %}
        {% endif %}
        {% if event == false %}
            {% include 'common/parts/category-quantities.html.twig' with {'type':'common.requires','categoryQuantities':contract.requiresCategoryQuantities} %}
            {% include 'common/parts/category-quantities.html.twig' with {'type':'common.available','categoryQuantities':contract.availableCategoryQuantities} %}
        {% else %}
            {% include 'common/parts/event-category-quantities.html.twig' with {'type':'common.requires','categoryQuantities':contract.requiresCategoryQuantities} %}
        {% endif %}
    </section>
</div>
