{% block title %}{{ 'asset.asset'|trans }} {{ 'asset.status'|trans }}{% endblock %}
{% extends 'base.html.twig' %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/admin/asset-status.css') }}">
{% endblock %}

{% block additional_javascripts %}
    <script src="{{ asset('build/admin/asset-status.js') }}"></script>
{% endblock %}

{% form_theme statuses_form _self %}

{% block _asset_statuses_statuses_entry_row %}
    {% spaceless %}
        <b-row>
            <b-col class="id d-none">{{ form_widget(form.id) }}</b-col>
            <b-col cols="1" class="text-center">{{ form_widget(form.available)}}</b-col>
            <b-col cols="4" class="name">{{ form_widget(form.name) }}</b-col>
            <b-col cols="4" class="comment">{{ form_widget(form.comment) }}</b-col>
            <b-col cols="1" class="text-center">{{ form_widget(form.default)}}</b-col>
            <b-col cols="1" class="text-center">{{ form_widget(form.in_use) }}</b-col>
                {% if form.parent.vars.allow_delete %}
                <b-col cols="1" class="remove-form-row" title="{{'common.remove'|trans}}" id="asset-status-__status__"><i class="fa fa-remove"></i></b-col>
                {% endif %}
        </b-row>
    {% endspaceless %}
{% endblock %}

{% block body %}

    <div class="statuses">
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ flash_message|trans }}
            </div>
        {% endfor %}
        {% if not statuses_form.vars.valid %}
            <div class="form-errors statuses">
                {% for status in statuses_form.statuses %}
                    {% if not status.vars.valid %}
                        {{form_errors(status.name)}}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {{form_start(statuses_form)}}
        <b-row>
            <b-col>
                <b-button size="sm" class="float-right" id="statuses-save-btn" type="submit">{{ 'common.save'|trans }}</b-button>
            </b-col>
        </b-row>

        <b-row class="form-row header">
            <b-col cols="1" class="text-center">{{ 'common.available'|trans }}</b-col>
            <b-col cols="4">{{ 'common.name'|trans }}</b-col>
            <b-col cols="4">{{ 'common.comment'|trans }}</b-col>
            <b-col cols="1" class="text-center">{{ 'common.default'|trans }}</b-col>
            <b-col cols="1" class="text-center">{{ 'common.in_use'|trans }}</b-col>
            <b-col cols="1"></b-col>
        </b-row>
        {{form_row(statuses_form)}}
        {% for status in statuses_form.statuses %}
            {{form_row(status)}}
        {% endfor %}

        {% if statuses_form.statuses.vars.allow_add %}
            <div id="addrow">
                <addrow label="{{'common.add_one_more'|trans}}"></addrow>
            </div>
        {% endif %}
        {{form_end(statuses_form)}}

    {% endblock %}