{% block title %}{{ 'asset.sets'|trans }} {{'common.admin'|trans }}{% endblock %}

{% extends 'admin/asset/asset.base.html.twig' %}

{% form_theme set_form _self %}

{% block _set_satisfies_entry_row %}{% spaceless %}
        <div class="form-row satisfies">
            <span class="type-select">{{ form_widget(form) }}</span>
            {% if form.parent.vars.allow_delete is defined %}
                <span class="remove-form-row" title="{{'common.remove'|trans}}" id="satisfies-__categories__"><i class="fa fa-remove"></i></span>
                {% endif %}
        </div>{% endspaceless %}{% endblock %}

{% block _set_models_entry_row %}{% spaceless %}
        <div class="form-row model">
            <span class="type-select">{{ form_widget(form) }}</span>
            {% if form.parent.vars.allow_delete is defined %}
                <span class="remove-form-row" title="{{'common.remove'|trans}}" id="models-__models__"><i class="fa fa-remove"></i></span>
                {% endif %}
        </div>{% endspaceless %}{% endblock %}

{% block admin_content %}
    <div id="set-wrapper">
        <h1>{{ block ('title') }}</h1>
        <div class="grid-controls">
            <div>
                <button id="set-new-btn" type="button">{{ 'common.new'|trans }}</button>
            </div>
            <div>
                <form id="set-grid-filter-form">
                    <label for="filter-input">{{ 'common.filter'|trans }}</label><input type="text" id="set-filter-input">
                </form>
            </div>
            <button id="set-remove-btn" type="button">{{ 'common.remove'|trans }}</button>
        </div>
        <div id="set-grid">
        </div>
        <div id="set-view-dialog">
            {{form_start(set_form)}}
            <div class="text-right">
                <button id="set-save-btn" type="button">{{ 'common.save'|trans }}</button>
            </div>
            <div class="set">
                <fieldset class="name-active">
                    <legend>{{'asset.set'|trans}}</legend>
                    <div class="justify">
                        <span class="set-name">{{ form_widget(set_form.name) }}</span>
                        <span class="value">{{ form_widget(set_form.value) }}</span>
                        <span class="in-use">{{ form_widget(set_form.in_use) }}</span>
                    </div>
                    {{form_row(set_form.comment)}}
                </fieldset>
                <div class="satisfies-and-models justify left">
                    <fieldset class="satisfies">
                        <legend>{{'common.satisfies'|trans}}</legend>
                        {{form_row(set_form.satisfies)}}
                        {% if set_form.satisfies.vars.allow_add %}
                            <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                        {% endif %}
                    </fieldset>
                    <fieldset class="models">
                        <legend>{{'asset.models'|trans}}</legend>
                        {{form_row(set_form.models)}}
                        {% if set_form.models.vars.allow_add %}
                            <span class="add-one-more-row">{{ 'common.add_one_more'|trans}}</span>
                        {% endif %}
                    </fieldset>
                </div>
                {{form_end(set_form)}}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(["app/admin/asset/sets", "dojo/domReady!"], function (sets) {
            sets.run();
        });
    </script>
{% endblock %}