{% block title %}{{ 'user.admin'|trans }}{% endblock %}
{% extends 'admin.base.html.twig' %}

{% block admin_content %}
    <div id="user-wrapper">
        <h1>{{ 'user.admin'|trans }}</h1>
        <div class="grid-controls">
            <div>
                {% if is_granted('ROLE_ADMIN_USER_ADMIN') %}
                    <button id="user-new-btn" type="button">{{ 'common.new'|trans }}</button>
                    <button id="user-invite-btn" type="button">{{ 'user.invite'|trans }}</button>
                {% endif %}
            </div>
            <div>
                <form id="user-grid-filter-form">
                    <label for="filter-input">{{ 'common.filter'|trans }}</label><input type="text" id="user-filter-input">
                </form>
            </div>
            {% if is_granted('ROLE_ADMIN_USER_ADMIN') %}
                <button id="user-remove-btn" type="button">{{ 'common.remove'|trans }}</button>
            {% endif %}
        </div>
        <div id="user-grid">
        </div>
        <div id="user-view-dialog">
            {% if is_granted('ROLE_ADMIN_USER_ADMIN') %}
                {{form_start(user_form)}}
                <div class="text-right">
                    <button id="user-save-btn" type="button">{{ 'common.save'|trans }}</button>
                </div>          
                <fieldset class="inline-block">
                    <legend>{{'common.user'|trans}}</legend>
                    <div class="justify">
                        {{form_row(user_form.username)}}
                    </div>
                    <div class="justify">
                        {{form_row(user_form.email)}}
                    </div>
                    <div class="user-admin">
                        {{form_row(user_form.enabled)}}
                        {{form_row(user_form.locked)}}
                        {{form_row(user_form.groups)}}
                        {{form_row(user_form.roles)}}
                    </div>
                </fieldset> 
                {% include 'common/person.html.twig' with { 'form' : user_form.person } %}
                {{ form_end(user_form) }}
            {% else %}
                <fieldset class="inline-block">
                    <legend>{{'common.user'|trans}}</legend>
                    <div class="view-inline">
                        <span id="view-username"></span>
                        <span id="view-email"></span>
                        <span id="view-enabled"></span>
                        <span id="view-locked"></span>
                    </div>
                </fieldset> 
                {% include 'common/view-only/person.html.twig' with { 'base': 'user'} %}
            {% endif %}
        </div>
        {% if is_granted('ROLE_ADMIN_USER_ADMIN') %}
            <div id="user-invite-dialog">
                {{ form(invitation_form) }}  
                <div class="center">
                    <button id="user-invite-send-btn" type="button">{{'common.send'|trans}}</button>
                </div>
                <div>
                    <ul>
                        {% for invitation in outstanding_invitations %}
                            <li>{{ invitation.email }}</li>
                            {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(["{% if is_granted('ROLE_ADMIN_USER_ADMIN') %}app/admin/user{% else %}app/admin/view-only/user{%endif %}"],
                function (user) {
                    user.run();
                });
    </script>
{% endblock %}